﻿.ui-page-theme-a {
    background-color: #056EC2;
    color: white;
}

i {
    font-size: 4rem;
}

h4, p {
    margin: 0.5rem;
}

.ui-page-theme-a .ui-btn {
    background-color: white;
    color: #056EC2;
    margin: 0 auto;
}

.ui-page-theme-a .ui-btn:hover {
    background-color: white;
}

