﻿<div data-role="page" id="billRecolectDataStep1View">
    <!--<div data-role="panel" id="leftmenu" data-position="left" data-display="reveal" data-theme="a" data-position-fixed="true" class="ui-panel ui-panel-position-left ui-body-b ui-panel-animate ui-panel-closed">
        <ul class="menu">
            <li><a href="../../Recipients/Recipients.html" data-icon="user"><i class="ss-users"></i>User</a></li>
        </ul>
    </div>
        -->


    <div data-role="header" class="bg-blue">
        <a data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Add Recipient Bill</h1>
        <a id="billRecolectDataCloseStep1" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content" id="main-content">
        <div id="errorContent"></div>
        <form id="formSubmit">
            <div class="m30b">
                <label for="cbInstitution">Institution(*)</label>
                <select id="cbInstitution" name="cbInstitution"></select>
            </div>

            <div class="m30b">
                <label for="accountNumber">Account Number(*)</label>
                <input id="accountNumber" name="accountNumber" type="text" required />
            </div>

            <div>
                <a data-role="button" class="btn-primary" id="btnNext1">Next</a>
            </div>

        </form>

    </div>
</div>
