﻿<div data-role="page" id="billRecolectDataStep3View">
    <div data-role="header" class="bg-blue">
        <a data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Add Recipient Bill</h1>
        <a id="billRecolectDataCloseStep3" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content" id="main-content">
        <div id="errorContent"></div>
        <form id="formSubmit">
            <div class="m30b">
                <label for="selectCountry">Country(*)</label>
                <select id="selectCountry" name="selectCountry"></select>
            </div>

            <div class="m30b">
                <label for="address">Street name & number</label>
                <input id="address" name="address" type="text"/>
            </div>

            <div class="m30b">
                <label for="cityOrTown">City/Town(*)</label>
                <input id="cityOrTown" name="cityOrTown" type="text" required/>
            </div>

            <div class="m30b">
                <label for="selectStates">State/Province/Parish(*)</label>
                <select id="selectStates" name="selectStates"></select>
            </div>

            <div class="m30b">
                <label for="postalCode">Postal Code/ZIP/PO Box</label>
                <input id="postalCode" type="text" />
            </div>
            <div>
                <a data-role="button" class="btn-primary" id="btnPushData">Next</a>    
            </div>
            
        </form>

    </div>
</div>
