﻿<div data-role="page" id="billRecolectDataStep2View">
    <div data-role="header" class="bg-blue">
        <a data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Add Recipient Bill</h1>
        <a id="billRecolectDataCloseStep2" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content" id="main-content">
        <div id="errorContent"></div>
        <form id="formSubmit">
            <div class="m30b">
                <label for="firstName">First Name(*)</label>
                <input id="firstName" name="firstName" type="text" required/>
            </div>

            <div class="m30b">
                <label for="lastName">Last Name(*)</label>
                <input id="lastName" name="lastName" type="text" required/>
            </div>

            <div class="m30b">
                <label for="telephone">Telephone(*)</label>
                <input id="telephone" name="telephone" type="tel" required/>
            </div>
            <div>
                <a data-role="button" class="btn-primary" id="btnNext2">Next</a>    
            </div>
            
        </form>

    </div>

        
</div>
