﻿
<div data-role="page" id="LocationFinder">
    <link href="../../css/LocationFinder/LocationFinder.css" rel="stylesheet" />
    <div data-role="header" data-position="fixed" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Find a Location</h1>
        <a href="#right-menu" class="icon-header ui-btn-right"><i class="ss-search"></i></a>
    </div>

    <div id="errorContent"></div>
    <div id="map-canvas" data-role="none"></div>
   
    <div data-role="panel" id="right-menu" data-position="right" data-display="overlay" data-position-fixed="true" class="ui-body-b ui-panel-animate">
        <div class="menu-header">
            <div class="pr">
                <label for="InputAmount">Search location</label>
                <input placeholder="Name, State, Country, etc" type="text" name="search-text" id="search-text" />
                <a href="#" id="search-point"><i class="ss-search"></i></a>
            </div>
        </div>
        <ul class="ui-listview ui-listview-inset menu ui-content" data-inset="true" id="points-list" >
           
        </ul>
    </div>
</div>

