﻿<div data-role="page" id="postLogin">
    <link href="../../css/login/login.css" rel="stylesheet" />

    <div data-role="content">

        <div class="ui-content text-center m30b pull-down" style="display: none" id="error">
            <i class="ss-alert"></i>
            <h4> Connection Error </h4>
            <p id="textMessage"></p>
        </div>
        <div id="area-button-again" style="display:none">
            <a data-role="button" id="btnAgain">Try again</a>
        </div>

    </div>


</div>
