﻿<div data-role="page" id="TransferAmount">
    <link href="../../css/Transfer/Transfer.css" rel="stylesheet" />
    <div data-role="header" class="bg-white p2l">
        <a href="" class="back" data-rel="back" data-role="none"><i class="ss-left"></i></a>
        <div class="circle circle-p2p"><i class="">$</i></div>
        <h1 data-role="tittle">Cash pick-up<small>Amount</small></h1>
        <a href="../Send/Send.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>
    <div class="ui-grid-a sub-header">
        <div class="ui-block-a">
            <label>Send to</label>
        </div>
        <div class="ui-block-b">
            <p class="text-right m0" id="PersonaSend"></p>
        </div>
    </div>

    <div data-role="content">
        <div class="m30b">
            <label for="SelectCurrencyTransfer">Currency</label>
            <select class="select" name="SelectCurrencyTransfer" id="SelectCurrencyTransfer">
                <option value="" disabled selected>Select</option>
            </select>
        </div>

        <div class="m30b pr">
            <label for="InputAmountTransfer">Amount</label>
            <input class="icon-dolar" type="number" name="InputAmountTransfer" id="InputAmountTransfer" value="0.0" />
            <i class="icon-dolar-input">$</i>
        </div>

        <div class="m30b exchangeData ui-grid-a" id="exchangeData">
            <div class="ui-block-a">
                <p class="text-gray">Pay-out:</p>
                <span id="CantTransfer"></span>
            </div>
            <div class="ui-block-b text-right">
                <p class="text-gray">Exchange Rate</p>
                <div id="Rate">
                    <span id="senderCurrency"></span><span class="control" id="CurrentExchangeRate" data-value="CurrentExchangeRate"></span>&nbsp<span class="control" data-value="DisburseCountryDefaultCurrency" id="DisburseCountryDefaultCurrency"></span>
                </div>
            </div>
            <input type="hidden" class="control" data-value="CurrentTransferFee" id="CurrentTransferFee"/>
            <input type="hidden" class="control" data-value="FeeCurrencyId" id="FeeCurrencyId" />
        </div>

        <div data-role="footer" data-position="fixed" class="ui-bg-none">
            <a data-role="button"  class="btn-primary m1" id="ConfirmAmount"> Next </a>
        </div>

    </div>

        
    <!--<form id="FormAmount"></form>-->
</div>