﻿<div data-role="page" id="TransferError">
    <link href="../../css/Transfer/Transfer.css" rel="stylesheet" />

    <div class="bg-face error">
        <i class="ss-dislike"></i>
    </div>
    <div class="ui-content text-center">
        <h4>Unfortunately!</h4>
        <p id="ErrorMsj"></p>
        <!--Your Transaction couldn´t be sent out</p>-->
    </div>
    <div data-role="footer" data-position="fixed" class="ui-bg-none">
        <a data-role="button" href="TransferPayment.html" class="btn-warning m1 m30b" id="ConfirmAmount"> ok </a>
    </div>
        
</div>