﻿<div data-role="page" id="TransferSendTo">
    <link href="../../css/Transfer/Transfer.css" rel="stylesheet" />

    <div data-role="header" class="bg-white">
        <a href="../Send/Send.html" class="back" data-role="none"><i class="ss-left"></i></a>
        <div class="circle circle-p2p"><i class="">$</i></div>
        <h1 data-role="tittle">Cash pick-up<small>Recipients</small></h1>
        <a href="../Send/Send.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>
    <div class="ui-grid-a sub-header">
        <div class="ui-block-a">
            <label>Send to</label>
        </div>
        <div class="ui-block-b text-right">
            <a id="AddRecipientBackLocation"><i class="ss-plus"></i></a>
            <!-- <a href="#"><i class="ss-search"></i></a> -->
        </div>
    </div>
    <div data-role="content">
        <div id="errorContent"></div>
        <ul class="ui-listview ui-listview-inset" data-inset="true" id="ListRecipients">
            <!--<li class="ui-li-has-thumb ui-nodisc-icon ui-alt-icon">
                <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <div class="circle"><i class="ss-user"></i></div>
                    <h4>Name recipients</h4>
                    <p>mail@mail.com</p>
                </a>
            </li>
            <li class="ui-li-has-thumb ui-nodisc-icon ui-alt-icon">
                <a href="#popupRecipient" class="ui-btn ui-btn-icon-right ui-icon-carat-r" data-transition="slideup" data-rel="popup">
                    <div class="circle"><i class="ss-user"></i></div>
                    <h4>Name recipients</h4>
                    <p>mail@mail.com</p>
                </a>

            </li>-->

        </ul>

        <div data-role="popup" id="popupRecipient" data-overlay-theme="b">
            <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
                <a href="#" data-rel="back" class="ui-corner-all ui-btn-right"><i class="ss-close">X</i></a>
                <h4 id="pop-fullname"></h4>
                <p>Jamaica</p>
            </div>
            <div class="popup-content ui-content">
                <div class="ui-nodisc-icon ui-alt-icon info-item text-center">
                    <div class="circle"><i class="ss-mail"></i>
                    </div>
                    <p id="pop-mail"></p>
                </div>
                <div class="ui-nodisc-icon ui-alt-icon info-item text-center">
                    <div class="circle"><i class="ss-phone"></i>
                    </div>
                    <p id="pop-tele"></p>
                </div>
                <div class="ui-nodisc-icon ui-alt-icon info-item text-center">
                    <div class="circle"><i class="ss-location"></i>
                    </div>
                    <p id="pop-address"></p>
                </div>
            </div>
            <div class="popup-footer">
                <a data-role="button" class="btn-primary" id="btn-next-amount" >Confirm</a>
            </div>
        </div>
        <!--<a href="" class="ui-body ui-body-a ui-corner-all">

            <div class="left">
                <img class="left" src="../../css/images/icons-svg/user-black.svg" width="30" alt=""/>
                <div>Name recipients</div>
                <span>mail@mail.com</span>
            </div>
            <div class="right">
                <span> Jamaica </span>
                <img class="right" src="../../css/images/icons-svg/carat-r-black.svg" width="30" alt=""/>
            </div>

        </a>-->
    </div>
</div>