﻿<div data-role="page" id="customerRegisterPage4">
    <div data-role="header" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Registration</h1>
         <a href="../../index.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content">

        <div id="errorContent"></div>
        <form id="formSubmit">
            <h4 class="text-primary m0">Verification</h4>
            <p class="m30b">These terms of service ("TOS") are...</p>
            <div class="m30b">
                <label for="codeSent">Write the code</label>
                <input id="codeSent" name="codeSent" type="number" />
            </div>
           




            <a data-role="button" id="confirm" class="btn-primary" href="#">Finish</a>
        </form>
    </div>




</div>
