﻿<div data-role="page" id="customerRegisterPage2">
    <div data-role="header" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Registration</h1>
        <a href="../../index.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content">
        <div id="errorContent"></div>
        <form id="formSubmit">
            <div class="m30b">
                <label for="email1">Email(*)</label>

                <input id="email1" name="email1" type="email" required />
            </div>

            <div class="m30b">
                <label for="email2">Repeat email(*)</label>
                <input id="email2" name="email2" type="email" required />
            </div>
            <div class="m30b">
                <label for="password1">Password(*)</label>
                <input id="password1" name="password1" type="password" required />
            </div>

            <div class="m30b">
                <label for="password2">Repeat Password(*)</label>
                <input id="password2" name="password2" type="password" required />
            </div>

            <!--<div class="m30b">
               <img id="imageCaptch" />
            </div>-->
            <!--<div class="m30b">
                <label for="textCaptch">Write text shown (*)</label>
                <input id="textCaptch" name="textCaptch" type="text" required />
            </div>-->

            <a data-role="button" class="btn-primary" id="nextStep2" >Next</a>
        </form>
    </div>

    
       
    
</div>
