﻿<div data-role="page" id="customerRegisterPage1">
    <div data-role="header" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Registration</h1>
        <a href="../../index.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content">
      
        <div id="errorContent"></div>
        <form id="formSubmit">
            <div class="m30b">
                <label for="selectTitle">Title (*)</label>
                <select class="select" name="selectTitle" id="selectTitle">
                    <option value="-1" disabled selected>Select</option>
                    <option value="Mr">Mr</option>
                    <option value="Miss">Miss</option>
                    <option value="Mrs">Mrs</option>
                </select>

            </div>

            <div class="m30b">
                <label for="firstName">First Name(*)</label>
                <input id="firstName" name="firstName" type="text" required />
            </div>
            <div class="m30b">
                <label for="middleName">Middle Name</label>
                <input id="middleName" name="middleName" type="text"  />
            </div>

            <div class="m30b">
                <label for="lastName">Last Name(*)</label>
                <input id="lastName" name="lastName" type="text" required />
            </div>

            <div class="m30b">
                <label for="phoneNumber">Phone(*)</label>
                <input id="phoneNumber" name="phoneNumber" type="tel" required />
            </div>


            <a data-role="button" id="nextStep1" class="btn-primary">Next</a>
        </form>
    </div>

    
       
    
</div>
