﻿<div data-role="page" id="customerRegisterPage3">
    <div data-role="header" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Registration</h1>
        <a href="../../index.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content">
        <div id="errorContent"></div>
        <form id="formSubmit">
            <h4 class="text-primary m0">Termins and Conditions</h4>
            <div class="box-terms">
                <div class="box-terms-content">
                    <h4>TERMS OF SERVICE <a href="http://www.jnmoneytransfer.com">www.jnmoneytransfer.com</a></h4>
                    <div>
                        <div>
                            <p>
                                These terms of service ("TOS") are effective as of March  1st 2016 and govern the terms under which you may access and use this website and the money transfer services associated with it (the "Service"). As used herein, the term "You" and terms of similar import mean the person accessing and using the Service. Also as used herein, the term "this website" and terms of similar import mean the JN Money Transfer website through which you have accessed these TOS and through which you can access the Service. The Service is offered from Jamaica by JN Money Services Ltd; from the USA by JN Money Services USA Inc.; from the United Kingdom by JN Money Services UK Ltd; from Canada by JN Money Services Canada Ltd and from the Cayman Islands by JN Money Services Cayman Islands Ltd. As used herein, the term "Provider" means the company operating in the country from which the transaction originates. For example, if the transaction originates from the United Kingdom the Provider would be JN Money Services UK Ltd and if it originates from the USA the Provider would be JN Money Services USA, Inc. These TOS forms a contract between you and the relevant Provider only.  By accessing and using the Service, you are agreeing to these TOS, which constitutes a contract between you and the relevant Provider. These TOS do not constitute a contract between you and any other party including the owner of the website if different from the Provider. You may not access or use the Service if you do not agree to be bound by these TOS.
                            </p>
                        </div>
                        <div>
                            <h5>1. ELECTRONIC COMMUNICATIONS</h5>
                            <p>
                                You understand and agree that these TOS will be entered into electronically, and that the following categories of information ("Communications") may be provided by electronic means: (i) these TOS and any amendments, modifications or supplements to them; (ii) your records of transactions through the Service; (iii) any initial, periodic or other disclosures or notices provided in connection with the Service, including without limitation those required by applicable law; (iv) any customer service communications, including without limitation communications with respect to claims or error or unauthorized use of the Service; and (v) any other communication related to the Service or Provider.
                            </p>
                            <p>
                                Although the Provider reserves the right to provide Communications in paper format at any time, you agree that it is under no obligation to do so. All Communications in either electronic or paper format will be considered to be "in writing" and in accordance with applicable law. You should print a paper copy of these TOS, any transaction record and any other Communication that is important to you and retain them for your records. If you do not wish to receive these TOS or the Communications electronically, you may not use the Service. You may withdraw your consent to receive Communications electronically, but if you do, your use of the Service will be terminated. To withdraw your consent, you must contact us by one of the contact methods described in Section 23 of these TOS.
                            </p>
                            <p>
                                To access and retain Communications, you must have: (i) an Internet browser that supports 128-bit encryption, such as Netscape Navigator version 4.0 or above or Internet Explorer version 4.0 or above, (ii) an e-mail account and e-mail software capable of interfacing with the Provider’s e-mail servers, (iii) a computer, operating system and telecommunications connection to the Internet capable of supporting the foregoing, (iv) sufficient electronic storage capacity on your computer's hard drive or other data storage unit, and (v) a printer that is capable of printing from your browser and e-mail software. In addition, you must promptly update us with any change in your email address by updating your profile by following the instructions on this website (or such other website to which the Provider may direct you).
                            </p>
                            <p>
                                Subject to applicable law, Communications may be posted on JN Money Transfer website or on another website disclosed to you, or sent to the e-mail address you provide. All Communications will be deemed to have been received by you immediately after the Provider sends it to you by e-mail or posts the Communication on the website, whether or not you have received the e-mail or retrieved the Communication from the website. A Communication by e-mail is considered to be sent at the time that it is directed by the Provider's e-mail server to the e-mail address provided by you. A Communication posted to a website is considered to be sent at the time it is publicly available. You agree that these are reasonable procedures for sending and receiving Communications.
                            </p>
                        </div>

                        <div>
                            <h5>2. OVERVIEW OF THE SERVICE</h5>
                            <p>The Service enables you to (1) create a customer profile by registering on jnmoneytransfer.com, (2) send a money transfer or make a payment  with your credit card or debit card or other mechanisms that the Provider may make available to you (each, a "Payment Instrument") to particular recipients (each, a “Recipient”) in different countries around the world (each, a “Destination Country”) Each such request to send money or make payments using a Payment Instrument is a "Transaction." The amount sent is the "Transaction Amount."</p>
                            <p>The Service is offered through the <a href="http://www.jnmoneytransfer.com">www.jnmoneytransfer.com</a> website. Records are maintained by the Provider about your customer login profile and Transactions. By initiating a Transaction through the Service, you are instructing the Provider to transfer your funds through your Payment Instrument (details of which are provided by you) to Recipient. The Provider is not a bank and operates solely as a Money Services business transferring funds from a Sender in one country to a Recipient in Destination Country.</p>
                        </div>

                        <div>
                            <h5>3. REGISTRATION</h5>
                            <ol class="lower-alpha">
                                <li>
                                    <p>
                                        <strong>Eligible Users.</strong> You must be an individual at least 18 years of age and be able to enter into legally binding contracts under applicable law. You must have a valid postal mailing address and an active e-mail address. You must have either (i) a valid credit card or debit card or (ii) a deposit account with a financial institution in region/country. Your mailing address must match the billing address for your credit card, debit card and/or deposit account (as applicable).
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        The Service may not be available in whole or in part in different states, countries, and jurisdictions. Other restrictions may apply.
                                    </p>
                                </li>
                                <li>
                                    <p><strong>Registering to access the Service.</strong> You must register on <a href="http://jnmoneytransfer.com">jnmoneytransfer.com</a> to initiate and complete a Transaction. To register, you must provide complete and accurate information about yourself sufficient to verify and confirm your identity. Such information will include (but not limited to),your name, address, date of birth, country of residence and citizenship, personal telephone number, occupation or nature of principal business, business telephone number (if one exists) and applicable national identifier such as a Passport or Driver's License.</p>
                                    <p>Upon registering for the service in the UK, USA, Canada and the Cayman Islands additional information will be required once established aggregated send value thresholds relative to UK, USA, Canada and the Cayman Islands have been exceeded. You will need to submit scanned copies of the following to continue sending (i) Valid Pictured ID – Passport or drivers licence (ii) Proof of address – Utility Bill or Bank Statement or Council Tax Bill.</p>
                                    <p>Each Provider reserves the right to require additional identification information and/or documentation and to accept or reject your registration. You agree that you will promptly update any information provided by you if the information changes.</p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Accessing Your Customer Login.</strong> You will create a unique user ID and password to access your profile. Your user ID together with your password has the same effect as your written signature and can be used to authorize Transactions. Contact Provider immediately if you suspect your password or user ID has been compromised.
                                    </p>
                                </li>
                            </ol>
                        </div>

                        <div>
                            <h5>4. SECURITY</h5>
                            <ol class="lower-alpha">
                                <li>
                                    <p>
                                        <strong>Security Procedures.</strong> Access to your customer profile and your ability to initiate and authorize a Transaction will be verified based on security procedures that are offered as part of the Service. Each time you attempt to login to <a href="http://www.jnmoneytransfer.com">www.jnmoneytransfer.com</a>, you will be asked to provide your unique user ID and password. Providing this information will enable you to complete a Transaction and access other services available on the website. You agree to follow any additional on-screen instructions from Provider with regards to security of your customer profile. You also agree to update and upgrade your Internet browser software on a regular basis as such updates or upgrades may become available from time to time. You acknowledge and agree that this Security procedure is commercially reasonable and acceptable.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Confidentiality of Security Procedures.</strong> You agree to keep your password and user ID secure and confidential at all times and not divulge your password or user ID to any other person (including any employee or agent of the Provider). You also agree not to use another person's password or user ID. If, notwithstanding the foregoing prohibition, you disclose your password to another person or persons or if the security of your password or user ID is breached you will be deemed to have authorized such person or persons to use your password, user ID and customer profile for any and all purposes, without limitation and you and all such person(s) will be prohibited from accessing the Service through this website. You agree that the Provider will not have any responsibility or liability to you or any other person for any losses or damages which you or anyone else may suffer arising from your disclosure of your password and/or user ID and you hereby agree to indemnify and keep indemnified the Provider in respect of any loss damage cost and expenses arising by reason of such disclosure.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Confidentiality of Security Procedures.</strong> You agree to keep your password and user ID secure and confidential at all times and not divulge your password or user ID to any other person (including any employee or agent of the Provider). You also agree not to use another person's password or user ID. If, notwithstanding the foregoing prohibition, you disclose your password to another person or persons or if the security of your password or user ID is breached you will be deemed to have authorized such person or persons to use your password, user ID and customer profile for any and all purposes, without limitation and you and all such person(s) will be prohibited from accessing the Service through this website. You agree that the Provider will not have any responsibility or liability to you or any other person for any losses or damages which you or anyone else may suffer arising from your disclosure of your password and/or user ID and you hereby agree to indemnify and keep indemnified the Provider in respect of any loss damage cost and expenses arising by reason of such disclosure.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Breach of Security.</strong> If you believe that your user ID or password has become known to any unauthorized person or become otherwise compromised, you must notify the Provider immediately by using one of the methods prescribed in Section 23 of these TOS. In such case, you must immediately discontinue using the Service until such time as security has been restored.
                                    </p>
                                </li>
                            </ol>
                        </div>
                        <div>
                            <h5>5. SENDING A MONEY TRANSFER</h5>
                            <ol class="lower-alpha">
                                <li>
                                    <p>
                                        <strong>Information.</strong> To send a money transfer you have to create a customer profile by registering on www.jnmoneytransfer.com, and following the security procedures, and providing complete and accurate information about yourself, as requested by the Provider. Thereafter you have to login and provide complete and accurate information as requested by the Provider about the Transaction, the Recipient (sufficient to verify identity) and the legitimate purpose for the Transaction (if requested) and the funding source for your Transaction Amount, where applicable. Provider reserves the right to require additional identification information and/or documentation and to accept or reject your request to send a money transfer.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Service Fees.</strong> In consideration for the use of the Service, you agree to pay applicable fees for each Transaction ("Service Fees"). The Service fees will be disclosed to you prior to your final submission of a Transaction for processing and will be added to the Transaction Amount, resulting in a total amount that will be higher than the amount you requested to be sent to the Recipient. Payment of the Service Fee (together with the Transaction Amount) is due at the time the Transaction is submitted for processing. The standard Transaction Service Fee can be determined using the Fee Calculator provided on this website. Service Fees are subject to change upon prior notification posted on this website or by notice given to you by any method permitted under these TOS and applicable law.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Taxes.</strong> If taxes are imposed in connection with a Transaction, you agree to pay applicable taxes for each Transaction (“taxes”). Taxes, to the extent required by applicable law, will be shown to you prior to your final submission of a Transaction for processing and will be added to the amount you send to the Recipient, resulting in the Recipient receiving an amount less than you requested be sent to the Recipient. Payment of taxes (if applicable) is due at the time the Transaction is submitted for processing. Taxes are subject to change upon prior notification posted on this website or by notice given to you as permitted by the TOS and applicable law. 
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Exchange Rate.</strong> If you access and use this website and the Service associated with it  the payment to the recipient is converted from dollars or pounds to the local disbursing currency, the exchange rate, to the extent required by applicable law will be shown to you prior to your final submission of a transmission for processing.
                                    </p>
                                </li>
                            </ol>
                        </div>
                        <div>
                            <h5>6. FUNDING A TRANSACTION</h5>
                            <ol class="lower-alpha">
                                <li>
                                    <p>
                                        <strong>Initiate a Transaction.</strong> You can initiate and pay for a Transaction by using cash (in-branch only), cheque (in-branch only) or a credit/debit card (in-branch and/or online).
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Authorization for Payment.</strong> In order for Provider to collect payment for the Transaction Amount and Service Fee from, you, you authorize the Provider to access, charge, or debit funds from any of the Payment Instruments you use for funding the Transaction.  If your payment fails for any reason you authorize Provider to re-try one or more times using the same or a different Payment Instrument. For example, if there are insufficient funds in your bank account at the time you submit your Transaction or your credit card payment fails to go through for technical or other reasons, we may try to debit your bank account or charge your credit card at a later time. You represent and warrant that you are the lawful owner of the Payment Instrument that you use.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Fees Imposed by the Issuer of your Payment Instrument.</strong> Provider does not control and is not responsible in any manner for any fees or charges that may be imposed by the issuer of your Payment Instrument. In particular, some credit card issuers may treat the use of your credit card to fund your Transaction as a "cash advance" rather than a purchase transaction and may impose additional fees and interest charges for the Transaction. These fees are imposed by your credit card issuer, not by Provider. You can avoid most cash advance fees by paying with a debit card. Contact your credit card issuer for more information. 
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Additional fees for Non-Standard services.</strong> There may be additional fees for non-standard services related to your Transaction. A "Non-Standard Service" would be any element of the Service that you specifically request from a customer service representative (orally, by email, or by any other means) to manage your Transaction that would not otherwise be provided by the Provider as a standard part of the Service. To the extent required by applicable law, fees imposed by the issuer of your Payment Instrument will be disclosed to you prior to your submission of a Transaction for processing.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Failed Transactions.</strong> If your attempt to fund a Transaction is reversed, rejected for insufficient funds or any other reason, or is charged back for any reason (as set out in Section 6(b) above) and Provider, in its discretion, re-submits the Transaction Amount to your funding Instrument, in all such cases you consent to pay all standard and Non-Standard Service Fees (as that term is defined in Section 6(d) above). Provider will charge and collect from you a nominal fee for any uncollected or reversed Transaction, together with any collection expenses, court costs and reasonable attorneys' fees incurred. You agree to hold Provider harmless from any losses, costs, expenses or damages it may incur in connection with any failed Transactions or in defending any actions or court proceedings arising from any failed Transactions, including attorneys' fees. You acknowledge that you may be reported to a collection agency or credit bureau if you do not pay the sums due in accordance with these TOS. 
                                    </p>
                                </li>
                            </ol>
                        </div>
                        <div>
                            <h5>7. DISBURSING A TRANSACTION</h5>
                            <ol class="lower-alpha">
                                <li>
                                    <p>
                                        <strong>Service Providers.</strong> Your Provider works with local banks, money transfer agents and other third party service providers (each, a "Service Provider") to disburse Transaction Amounts to Recipients. You, in your capacity as a Sender, hereby appoint your Recipient as your agent for the purpose of receiving funds in connection with the Service.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Disbursement Mechanisms.</strong> The Transaction Amount will be disbursed to the Recipient in the manner that you specify from the list of available disbursement options at the time you initiate your Transaction (each, a "Disbursement Mechanism"). Disbursement Mechanisms vary by Destination Country but generally include disbursement by cash pickup at agent locations or at ATMs/Bank machines, and by direct deposit (money transfer to a third party – such as financial institutions, utility companies or other bill payment accepting institution). You cannot change the Disbursement Mechanism after you submit your Transaction. A Local Service Provider or Agent will disburse your funds to your Recipient if you select cash pickup. For Jamaica only, Recipients can collect funds at ATMs/Bank Machines if you opted to send funds for cash pickup to their JN Money Transfer Card. Cash pickup means that the Recipient can go to a designated Local Service Provider branch office, Agent or ATMs/Bank machines to receive funds, in person. Direct Deposit means that the funds will be delivered directly into the Recipient's bank account or in the Recipient’s account at a third party such as financial institutions, Utilities Company or payment accepting institutions. Note that the time it takes to disburse funds may depend on the accuracy of the information you provide. 
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Currency of Disbursement/Exchange Rate.</strong> Funds are disbursed in the currency of the Destination Country to which the funds are remitted. The Provider sets the exchange rate for the Transaction at the time you complete the Transaction using methods as the Provider may deem appropriate (which is normally based on a rate obtained by the Provider from one or more correspondent banks that convert funds into the currency of the Destination Country). When you pay for a Transaction in one currency and the Recipient is paid in another currency, there may be a difference in the exchange rates.
                                    </p>
                                    <p>
                                        YOU AGREE THAT SUCH PROCESS IS APPROPRIATE AND ACCEPT THE OUTCOME THAT RESULTS FROM IT. PROVIDER MAY MAKE MONEY WHEN FUNDS ARE CONVERTED TO A FOREIGN CURRENCY FOR DISBURSEMENT.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Timing of Disbursement.</strong> The Transaction Amount will be made available  for disbursement to Recipient as soon as possible and within a reasonable time, subject to possible delays associated with the verification procedures, receipt of cleared funds through your Payment Instrument, attempts to contact and locate your Recipient, currency availability, and the conditions, laws, and regulations applicable in the Destination Country. The availability of funds may be affected by events beyond our control, such as civil disturbances, weather conditions, delays caused by failures in telecommunications and technological processes, distance from Service Providers to the address and location of Recipient, acts of God or other recognized force majeure. The Provider therefore cannot and does not guarantee when a particular Transaction will be disbursed.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Transaction Failure.</strong> If a Transaction Amount is undeliverable for any reason, or is not collected within one (1) year from the date of transfer, then charges may be assigned to the Transaction as outlined in the Provider’s Undisbursed Policy (which shall be deemed to be incorporated these TOS). Generally, you will be credited the Transaction Amount; however, because of currency export controls in effect in certain Destination Countries, it may not be possible to credit the amount to you if the funds have been converted into a local currency. If this occurs, you will be given the opportunity to designate a different Recipient residing in the same Destination Country as the original Recipient. You may be charged Non-Standard Service Fees for processing and handling of such Transactions (as that term is defined in Section 6(d) above). After a disbursement has become undeliverable, rejected or un-collected for one year, should the Provider using reasonable methods of communication (e.g., email, telephone, and/or written notice) be unable to contact you for another 30 days using the contact information provided by you, then on such occurrence you authorize Provider, using its sole discretion, to designate an alternate Recipient to receive the Transaction Amount, or to hold the funds in a no-interest bearing  suspense account on your behalf.
                                    </p>
                                </li>
                            </ol>
                        </div>
                        <div>
                            <h5>8. LIMITATIONS OF SERVICE</h5>
                            <ol class="lower-alpha">
                                <li>
                                    <p>
                                        <strong>General Restrictions.</strong> The Provider may, in its sole discretion, refuse to process any Transaction or limit the amount to be transferred, either on a per transaction basis or on an aggregated basis. In all such events, any limit placed on the Transaction Amount is at the sole discretion of the Provider and may be changed from time to time. You may not maintain multiple profiles through this website or through any other website for which the Provider provides a similar service. For purpose of these limitations, the Provider will aggregate funds from the same credit card, check card and deposit account, regardless of the name of the sender. Moreover, funds initiating from the same address or being received at the same address are subject to aggregation and limitation. For example, if you and your spouse each charge the same credit card account $2,500 to fund Transactions, your funding requests will be combined and you each will be considered, for purpose of the limitation, to have sent $5,000 in aggregate Transactions. 
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Cessation of Service.</strong> Provider reserves the right at any time and from time to time to modify or discontinue the Service (or any part thereof) with or without notice, subject to applicable law.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Limitation on Use.</strong> The Provider may limit your ability to complete a Transaction because of compliance and regulatory requirements within the respective Destination Country. Regulatory limitations may include, but not limited to; setting of caps on Transaction Amounts and frequency of transactions over a specific time period. These limitations may vary based on various factors, including how you fund a Transaction (i.e., by credit card or ACH), source of funds, and how many other Transactions you have initiated recently. The Provider may, in its sole discretion, grant limited exceptions to these restrictions on a case-by-case basis subject to Senders providing additional specified information about themselves, the Recipient, the source of funds and their Transactions. Contact the Provider to request an exception using one of the methods prescribed in Section 23 of these TOS. Provider reserve the right to change the foregoing limitation at any time.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Forbidden Transactions.</strong> The Service may not be used for the improper, unlawful, or fraudulent transfers of funds ("Forbidden Transactions"). Forbidden Transactions include but are not limited to: (a) attempts to transfer or the transfer of funds using stolen, unauthorized, or otherwise compromised credit card, check card, debit card, bank account, or Account information, (b) attempts to transfer or  the transfer of funds using an account with insufficient funds (c) seeking reimbursement of funds that have already been disbursed, (d) laundering of funds, (e) attempts to transfer or  the transfer of funds using monies that have been stolen or otherwise obtained from illegal or unlawful means (f) use of the Service in connection with gambling, pornography or for any other unlawful or illegal purposes, (g) use of the Service to fund terrorist organizations or individuals identified as being associated with terrorism from time to time by appropriate governmental authority or agency in corresponding countries/regions (h) undertaking or attempting to undertake transactions which violate applicable laws of the Sending or Destination Country, international laws, credit card association rules and regulations, or the laws of any other relevant jurisdiction and (i) attempts to send a Transaction in excess of the upper limit or aggregate amount (if multiple Transactions) allowed by the Provider .
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Commercial Transactions.</strong> You should not use the Service to send money to persons that you do not know personally or through valid business dealings. The Provider is not responsible for the quality, safety, legality, or delivery of goods or services that you pay third parties through using the Service. You acknowledge that any use of the Service to pay for such goods and services is at your own risk. If the Provider discovers you are using the Service to purchase such goods or services, we reserve the right to cancel your transaction(s). 
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Ineligible Recipients. The Provider reserves the right to refuse disbursement to certain Recipients, countries, territories, addresses or other geographic designations in their sole discretion, including without limitation, destinations and individuals that are included on the Specially Designated Nationals list, Non-cooperative Countries and Territories list, and such other lists as may be issued from time to time by respective government agencies, and other sources. You acknowledge that in certain circumstances Provider may be required to freeze Transaction Amounts  and/or suspend a Recipient's receipt of Transaction Amounts, and/or segregate those funds in compliance with an order by a court of competent jurisdiction, government body or relevant authority or any applicable law. You agree to hold the Provider harmless in respect of any loss or damage arising from such events. For the avoidance of doubt, the Provider will be entitled to recover from the Sender all loss, damage and legal cost (with interest thereon) that it may incur in dealing with such orders or requests, including defending and/or pursuing any court action. 
                                    </p>
                                </li>
                            </ol>
                        </div>
                        <div>
                            <h5>9. CANCELLATION AND REFUNDS</h5>
                            <div>
                                <p>
                                    You may cancel and obtain a refund of a Transaction upon written request, subject to section 7d of these TOS,  if, at the time your request is processed, the Transaction has not already been released to a Local Service Provider. Cancellation requests must include the following information: (a) your full name, address, and phone number, (b) Recipient's full name, address, and phone number, (c) the date of the Transaction, (d) the location to which the Transaction Amounts were to be disbursed, and (e) the amount of the Transaction. Send your written request by one of the methods prescribed in Section 23 of these TOS. Oral cancellation requests will not be accepted.
                                </p>
                                <p>
                                    Refunds of the Transaction Amounts only (excluding Service Fees) will be permitted. Refunds will credited to the Payment Instrument used and will be made in the original Transaction currency. If the Transaction Amount has already been converted to another currency it will be re-converted to the original currency. In such event the refunded amount may be less than the original Transaction Amount. An additional Non-Standard Service Fee (as defined in Section 6(d) above) will be charged in respect of any cancellation of a Transaction. Under no circumstance will cancellations be permitted and refunds made if a Transaction has already been disbursed to the Recipient. 
                                </p>
                            </div>
                        </div>
                        <div>
                            <h5>10. PRIVACY POLICY/COLLECTION OF INFORMATION</h5>
                            <div>
                                <p>
                                    By agreeing to these TOS, you acknowledge and consent to the Provider's Privacy Policy. The Privacy Policy can be found on the website (or such other website to which the Provider may direct you). In addition, you agree that the Provider will own and possess the data that you provide in connection with the Service. You also agree that the Provider may use such information to provide the Service; to implement marketing programs; to help protect against money laundering, financing of terrorism, fraud and other civil or criminal misdemeanours and  to conduct research and analysis and for statistical purposes. In addition, you agree that the Provider may disclose such information for the same purposes to its parent company and affiliates and to authorized persons and companies that work with the Provider, including the portal through which you access the Services. For example, the Provider may provide certain information to companies that perform business operations or services, including marketing and processing services, on the Provider’s’ behalf. You also authorize the Provider to disclose your confidential information and data to (i) law enforcement and other regulatory agencies in any country for the purpose of detecting and combating money laundering, terrorism and terrorist activities or the financial or regulatory integrity of the Provider or otherwise to comply with the laws, regulations (including court order or subpoena) or administrative rules of any country in which the Provider operates or to which it remits funds. If you do not wish the Provider to disclose such information as provided above you should not use the Service. You may withdraw your consent to disclose such information, but if you do, your use of the Service will be terminated. To withdraw your consent, you must contact the Provider by one of the contact methods prescribed in Section 23 of these TOS. 
                                </p>
                            </div>
                        </div>
                        <div>
                            <h5>11. RECORDS AND REPORTS</h5>
                            <div>
                                <p>
                                    The Provider maintains records of your Transaction history to the extent required under applicable law. Records will be updated on a continuing basis as Transactions are made and received. 
                                </p>
                            </div>
                        </div>
                        <div>
                            <h5>12. YOUR LIABILITY FOR UNAUTHORIZED TRANSACTIONS</h5>
                            <div>
                                <p>
                                    You must tell the Provider at once if you believe your password has been lost or stolen, or if your customer profile has been compromised in any way, or if someone has transferred or may transfer money without your permission (an "Unauthorized Transaction"). The best way to minimize your possible losses is to telephone or email the Provider immediately you become aware of a breach or possible breach of your user ID and/or password. Contact information for the Provider is set out in Section 23 of these TOS. You will be liable for all losses which you may suffer in respect of Transactions which occurred or which were initiated (even if not completed) before you notify the Provider of any Unauthorized Transaction or loss or theft of your password or User ID or any other matter which may result in loss to you.   Losses which occur after you have given us due notice will be reimbursed by us if the Transaction was initiated after such notice provided that our liability shall be limited as provided in Section 18 below.
                                </p>
                            </div>
                        </div>
                        <div>
                            <h5>13. ACCURACY OF INFORMATION YOU PROVIDE</h5>
                            <div>
                                <p>
                                    You represent and warrant that all information you provide in connection with the Service, including but not limited to information about yourself, your Funding Instrument, the source of funds, the purpose of the Transaction and your Recipient, will be complete and accurate in all respects. The Provider is entitled to rely on any such information in allowing you access to use the Service. You agree to update your personal information if it changes. The Provider  reserves the right, in its sole discretion, to take steps to verify the information you provide. Your ability to use the Service may be terminated at any time and any pending Transactions may be cancelled if you provide false or inaccurate information. In addition, you may be subject to civil and/or criminal proceedings with attendant fines, penalties or money judgments if you provide false information to gain access to the Service.
                                </p>
                            </div>
                        </div>
                        <div>
                            <h5>14. INDEMNITY</h5>
                            <div>
                                <p>
                                    You agree to indemnify and hold the Provider and its affiliates, subsidiaries, officers, agents, co-branders and other partners, directors, and employees, harmless from any claims or demands, and be liable for any loss and damage   (including reasonable attorneys' fees), made by any third party due to or arising out of your use of the Service, your connection to the Service, your violation of these TOS, or your violation of any rights of another person in connection with your use of the Service.
                                </p>
                            </div>
                        </div>
                        <div>
                            <h5> 15. RESALE OF SERVICE</h5>
                            <div>
                                <p>
                                    You agree not to reproduce, duplicate, copy, sell, resell or exploit for any commercial purposes, any portion of the Service, use of the Service, or access to the Service, other than as provided within the scope of the Service.
                                </p>
                            </div>
                        </div>
                        <div>
                            <h5>16. PROVIDER' INTELLECTUAL PROPERTY</h5>
                            <div>
                                <p>
                                    You acknowledge that the Service, including but not limited to the content of this website and all other intellectual property (text, graphics, links, buttons, logos, and images, as well as all other copyrights, trademarks, service marks, logos, and product and service names) are owned exclusively by the Provider and/or their partners and shall remain the property of the Provider and/or their partners ("Provider's Intellectual Property"). You agree not to display, use, copy, or modify Provider's Intellectual Property in any manner. You are authorized solely to view and retain a copy of the pages of this website for your own personal, non-commercial use. You further agree not to: (a) use any robot, spider, scraper or other automated device to access the Service or (b) remove or alter any author, trademark or other proprietary notice or legend displayed on this website (or printed pages thereof).
                                </p>
                                <p>
                                    ANY USE, COPYING OR REPRODUCTION OF TRADEMARKS, LOGOS OR TAG LINE CONTAINED IN THIS WEBSITE, WITHOUT PROVIDER’S PRIOR WRITTEN PERMISSION IS STRICTLY PROHIBITED.
                                </p>
                            </div>
                        </div>
                            <div>
                                <h5>17. DISCLAIMER OF WARRANTIES</h5>
                                <div>
                                    <p>
                                        YOU EXPRESSLY UNDERSTAND AND AGREE THAT THE SERVICE IS PROVIDED ON AN "AS-IS" AND "AS AVAILABLE" BASIS. (a) THE PROVIDER EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT; (b) THE PROVIDER MAKES NO WARRANTY THAT (i) THE SERVICE WILL MEET YOUR REQUIREMENTS, (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, AND (v) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM PROVIDER OR THROUGH OR FROM THE SERVICE OR FROM THIS WEBSITE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TOS.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <h5>18. LIMITATION OF LIABILITY</h5>
                                <div>
                                    <p>
                                        EXCEPT FOR ANY RIGHT TO A REFUND EXPRESSLY DESCRIBED HEREIN, YOU UNDERSTAND AND AGREE THAT THE PROVIDER, NOR LOCAL SERVICE PROVIDER SHALL BE LIABLE, FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF A PROVIDER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES) RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE SERVICE; (ii) DELAY, NONPAYMENT, OR UNDERPAYMENT OF ANY MONEY TRANSFER; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, INCLUDING A BREACH OF PROVIDER'S SECURITY; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ABOUT THE SERVICE; AND (v) FAILURE TO MAINTAIN THE CONFIDENTIALITY OF ANY INFORMATION SUPPLIED TO THE PROVIDER BY YOU.
                                    </p>
                                    <p>
                                        IF PROVIDER, IS DEEMED LIABLE TO YOU IN CONNECTION WITH ANY TRANSACTION MADE OR NOT MADE IN ACCORDANCE WITH THESE TOS, THE MAXIMUM AGGREGATE LIABILITY OF PROVIDER SHALL BE THE CORRESPONDING TRANSACTION AMOUNT, WITHOUT INTEREST, UNLESS OTHERWISE REQUIRED BY APPLICABLE LAW.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <h5>19. EXCLUSIONS AND LIMITATIONS</h5>
                                <div>
                                    <p>
                                        TO THE EXTENT THAT APPLICABLE LAW IN THE  JURISDICTION FROM WHICH YOU ACCESS AND USE THE SERVICE DOES NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL, CONSEQUENTIAL OR OTHER DAMAGES, YOU MAY NOT BE LIMITED BY THE TERMS IN PARAGRAGH 18. ACCORDINGLY, SOME OF THE LIMITATIONS OF THESE TOS MAY NOT APPLY TO YOU.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <h5>20. DISPUTE RESOLUTION AND GOVERNING LAW</h5>
                                <div>
                                    <p>
                                        This Arbitration Provision ("Provision") facilitates the prompt and efficient resolution of any disputes that may arise between you and us. Arbitration is a form of private dispute-resolution in which persons with a dispute waive their rights to file a lawsuit, to proceed in court and to a jury trial, and instead submit their disputes to a neutral third person (an arbitrator) for a binding decision. You have the right to opt-out of this Provision, which means you would retain your right to litigate your disputes in a court, either before a judge or jury. To exercise your right to opt-out you must provide us with written notice no later than 30 days after your customer login profile is first opened. If we do not receive your written notice within that time frame, your rights to opt out will terminate, and you agree that the provisions of this section will apply.
                                    </p>
                                    <p>
                                        PLEASE READ THIS PROVISION CAREFULLY. IT PROVIDES THAT IF YOU DID NOT EXERCISE YOUR RIGHT TO OPT OUT OF ARBITRATION ALL DISPUTES (EXCEPT SMALL CLAIMS AND COLLECTIONS CLAIMS AS STATED BELOW) ARISING OUT OF OR CONNECTED WITH  THESE TOS AND THE USE OF THE SERVICE SHALL BE RESOLVED BY BINDING ARBITRATION. ARBITRATION REPLACES THE RIGHT TO GO TO COURT. IN THE ABSENCE OF THIS PROVISION, YOU AND US WOULD OTHERWISE HAVE A RIGHT OR OPPORTUNITY TO BRING CLAIMS IN A COURT, BEFORE A JUDGE OR JURY, AND/OR TO PARTICIPATE IN OR BE REPRESENTED IN A CASE FILED IN COURT BY OTHERS (INCLUDING, BUT NOT LIMITED TO, CLASS ACTIONS). EXCEPT AS OTHERWISE PROVIDED, HEREIN YOUR ENTERY INTO THIS AGREEMENT CONSTITUTES A WAIVER OF YOUR RIGHT TO LITIGATE CLAIMS AND ALL RIGHTS TO BE HEARD BY A JUDGE OR JURY.
                                    </p>
                                    <ol class="lower-alpha">
                                        <li>
                                            <p>
                                                <strong>Parties and Matters Subject to Arbitration.</strong> For purposes of this Provision, "us" means the Provider, their parents, subsidiaries, affiliates, licenses, predecessors, successors, assigns, and all of the employees, directors, parents, subsidiaries, affiliates, beneficiaries, agents and assigns of any and all of them. For purposes of this Provision, "you" includes your employees, parents, subsidiaries, affiliates, beneficiaries, agents and assigns. For purposes of this Provision, "Claim" means any claim, dispute, or controversy by either you or us, arising out of or relating in any way to these TOS, this Provision (including claims regarding the applicability, enforceability, or validity of this Provision), your Account, the Service, any Transaction, and our relationship. "Claim" also refers to any interaction or communication between you and us that occurred prior to or concurrent with entering into these TOS, including those Claims now in existence, regardless of present knowledge. "Claim" shall refer to claims of every kind and nature, including, but not limited to, initial claims, counterclaims, cross-claims and third-party claims. “Small Claims” means Claims where the amount claimed does not exceed US$5,000.00 (or the equivalent). “Collection Actions” means claims relating to your Account or the Service.  All Claims (except Small Claims and Collection Actions), whether made individually or as member of a class, are subject to arbitration unless you opted out of arbitration as provided above, regardless of legal theory and remedy sought, including, but not limited to, claims based in contract, tort (including negligence, intentional tort, fraud, and fraud in the inducement), agency, statutory law (federal and state), administrative regulations, or any other source of law (including equity).
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Agreement to Arbitrate.</strong> Any Claim (except Small Claims and Collection Actions) arising out of or relating to these TOS, or the breach thereof, shall be referred to and be resolved and settled exclusively and finally by binding arbitration, in accordance with this Provision. The arbitration shall be conducted by a single arbitrator who shall be appointed jointly by both of us but failing agreement within fourteen (14) days after either of us has given to the other a written request to concur in the appointment of an arbitrator, he shall be appointed on the application by either of us, by the Appointer.  If you are in the United Kingdom the Appointer shall be the President for the time being of the Chartered Institute of Arbitrators and the arbitration shall be conducted in London in accordance with the current Arbitration Act(s). If you are in the United States of America the Appointer shall be the American Arbitration Association and arbitration shall be conducted in accordance with the rules of the American Arbitration Association. The venue of such arbitration shall be New York or Miami, whichever City is closer to you. If you are in Canada the Appointer shall be the head of the Canada Bar Association-Alternative Dispute Resolution Section and the arbitration shall be conducted in Toronto under the Arbitration Act 1991 of Ontario. If you are in Jamaica the Appointer shall be the President for the time being of the Jamaica Bar Association and the arbitration take place in Kingston under the prevailing Arbitration Act of Jamaica. In you are in the Cayman Islands then the Appointer shall be the Cayman Islands Association of Mediators and Arbitrators and arbitration shall take place in George Town, Cayman Islands under the prevailing Arbitration Law. 
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>The single arbitrator's authority.</strong> This is limited solely to individual Claims between you and us. The arbitration will not be consolidated with any other arbitration proceeding. THE ARBITRATOR SHALL NOT HAVE AUTHORITY TO AWARD PUNITIVE OR EXEMPLARY DAMAGES. Voluntary Waiver of the Right to a Jury Trial and Class Action Participation as a result of this Provision, neither you nor us shall have the right to litigate any Claim in court (except Small Claims and Collections Claims). We both hereby irrevocably waive the right to a jury trial on any Claim (excluding Small Claims and Collection claims). THUS YOU AGREE THAT YOU ARE VOLUNTARILY AND KNOWINGLY WAIVING ANY RIGHT YOU MAY HAVE TO GO TO COURT OR TO HAVE A JURY TRIAL IN ANY ACTION EXCLUDING SMALL CLAIMS OR COLLECTION ACTIONS. FURTHERMORE, NEITHER YOU NOR US WILL PARTICIPATE AS A MEMBER OF A CLASS OF CLAIMANTS IN ANY CLASS ACTION LAWSUIT OR ANY PRIVATE ATTORNEY GENERAL OR OTHER REPRESENTATIVE ACTION AGAINST THE OTHER OR WHICH IS ADVERSE TO THE INTEREST OF THE OTHER.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Prohibition of Class Arbitration.</strong> If you did not opt out of arbitration then all Claims shall be resolved by binding arbitration on an individual basis. Claims made and remedies sought as part of a class action, private attorney general or other representative action are subject to arbitration on an individual (non-class, non-representative) basis. Therefore, the arbitrator has no authority to conduct class-wide proceedings and will be restricted to resolving individual Claims. UNDER THIS ARBITRATION PROVISION THERE IS NO RIGHT OR AUTHORITY FOR ANY CLAIMS TO BE ARBITRATED ON A CLASS BASIS. Arbitration will only be conducted on an individual Claim basis, and there is no right or authority to consolidate or join any of your Claims with any other Claims. YOU AGREE THAT YOU ARE VOLUNTARILY AND KNOWINGLY WAIVING ANY RIGHT TO PARTICIPATE AS A REPRESENTATIVE OR MEMBER OF ANY CLASS OF CLAIMANTS PERTAINING TO ANY CLAIM SUBJECT TO ARBITRATION UNDER THIS PROVISION.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>The Arbitrator's Award.</strong> The Arbitrator's award may be enforced by any court of competent jurisdiction. For awards not in excess of US$5,000, upon the timely request of any party, the arbitrator shall provide a brief written explanation of the basis for the award. In the event an award exceeds US$5,000, or in which there is a request for equitable relief with a potential financial impact or value in excess of US$5,000, the award of the arbitrator shall be in writing and shall specify the facts and the law on which it is based. In such case, the arbitrator's findings of fact must be supported by substantial evidence and the arbitrator's conclusions of law must not be based on legal error or be erroneous under the applicable substantive law.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Expenses.</strong> Regardless of who demands arbitration, we will pay all expenses of the arbitration, including the filing, administrative, hearing and arbitrator's fees ("Arbitration Fees"), to the extent that the Arbitration Fees exceed the amounts you would be required to pay for filing a lawsuit in a court. Throughout the arbitration, each party shall bear his or her own attorney fees and expenses, such as witness and expert witness fees. Whichever party prevails in the arbitration of any Claim shall reimburse the other for any fees paid to the arbitration organization in connection with the arbitration.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Binding Effect and Survival.</strong> You and we agree that, except as specifically provided for above, the arbitrator's decision will be final and binding on all parties subject to this Provision. This Provision is binding upon you, us, and the heirs, successors, assigns, and related third parties of you and us. This Provision shall survive termination of your Account.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Severability.</strong> If any portion of this Provision is deemed invalid or unenforceable under any law or statute consistent with the governing Arbitration Act, such a finding shall not invalidate any remaining portion of this Provision, these TOS, or any other agreement entered into by you with us. However, the prohibition on class arbitration is not severable from the remainder of this Provision. In the event that a court deems the prohibition on class arbitration to be invalid and unenforceable, any subsequent class action or representative proceeding shall be in a court of law and will not be subject to binding arbitration.
                                            </p>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div>
                                <h5>21.GOVERNING LAW</h5>
                                <div>
                                    <p>
                                        These TOS including this agreement to Arbitrate is made pursuant to a transaction involving money transfers from one country/region to another and shall be governed by laws of the country from which the funds were remitted or were intended to be remitted.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <h5>22. GENERAL INFORMATION</h5>
                                <ol class="lower-alpha">
                                    <li>
                                        <p>
                                            <strong>Entire Agreement.</strong> These TOS constitutes the entire agreement between you and the Provider and governs your use of the Service, superseding any prior agreements between you and Provider. You also may be subject to additional terms and conditions of third parties who are not subject to these TOS.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>No Waiver.</strong> The failure of the Provider to exercise or enforce any right or provision of these TOS shall not constitute a waiver of such right or provision. If any provision of these TOS is found by an arbitrator or court of competent jurisdiction to be invalid, the parties nevertheless agree that the arbitrator or court should endeavor to give appropriately valid effect to the intention of these TOS as reflected in the provision, and the other provisions of these TOS shall remain in full force and effect.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>Modification.</strong> These TOS may be modified or amended by the Provider from time to time by posting an amended version on the website. You should therefore read these TOS each time that you use the Service because it may contain terms and conditions which differ from those which existed when you last used the Service. You can review the most current version of these TOS at any time by reviewing this website (or such other website to which the Provider may direct you). You may terminate your use of the Service if you do not agree with any modification or amendment. If you use the Service after the effective date of an amendment or modification, you will be deemed to have accepted that amendment or modification. You agree that you will not modify or attempt to modify or in any way tamper with these TOS and acknowledge that any such attempts by you will result in a breach of these TOS and abuse of the Provider’s intellectual property rights and shall be void and may result in criminal or civil action against you.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>Termination.</strong> The Provider reserves the right to terminate your ability to use the Service for any reason and may cancel any pending Transaction. Suspension or termination may occur if in the Provider's determination (i) you have not properly funded a requested Transaction; (ii) you attempt to initiate a Transaction from a funding mechanism/payment instrument that does not belong to you; (iii) you use the Service, directly or indirectly for any Forbidden Transaction; (iv) you provide incorrect or false information about yourself, your accounts or about a Recipient; (v) you use or attempt to use the Service for tampering, hacking, modifying or otherwise corrupting the security or functionality of the Provider' or any other website; (vi) the Provider receive conflicting claims regarding ownership of, or the right to use, an account used to fund a Transaction; (vii) the Provider receives a garnishment, levy or other legal process applicable to you, your login profile, or a Transaction; (viii) you have breached a term or condition of these TOS, or any representation or warranty that you make under these TOS is false; or (ix) the Provider determines that you are no longer actively using the Service. You agree that the Provider will not be held responsible or liable to you, any Recipient or any other person for such termination. Moreover, you understand the Provider may report suspicious transactions or activity to appropriate law enforcement authorities.
                                        </p>
                                        <p>
                                            Upon termination of your ability to initiate a Transaction for any reason, the Provider may terminate all your pending Transactions. If you have no outstanding obligations in connection with the Service, the Provider may credit any balance to any Funding Mechanism that you used to fund Transactions. Termination of these TOS will not affect your liability for acts or omissions committed prior to termination, including your liability for any Transaction.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>Business Days.</strong> The phrase "business days" as used herein means Monday through Friday, excluding public holidays in the Destination or Recipient Countries.  However, the Service will generally still be available online on non-business days.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>Assignments and Transfers.</strong> You may not assign or otherwise transfer your rights under the customer login profile created or these TOS to any other person or entity.
                                        </p>
                                    </li>
                                </ol>
                            </div>
                            <div>
                                <h5>23. CONTACT INFORMATION</h5>
                                <div>
                                    <p>
                                        Contact information for the Provider for questions, notifications, and requests for further information is as follows:
                                    </p>
                                    <p>
                                        Email: <a href="mailto:info@jnmoneytransfer.com">info@jnmoneytransfer.com</a>
                                    </p>
                                    <div>
                                        <div>Telephone:</div>
                                        <ul class="disc" style="padding-left:2rem">
                                            <li>
                                                North America
                                                <a href="tel:18667356002">1 866-735-6002</a>
                                            </li>
                                            <li>
                                                UK
                                                <a href="tel:08003281622">0800-328-1622</a>
                                            </li>
                                            <li>
                                                Jamaica
                                                <a href="tel:18889914065">1-888-991-4065</a>
                                            </li>
                                            <li>
                                                Cayman Island
                                                <a href="tel:18663537778">1-866-353-7778</a>
                                            </li>
                                            <li>
                                                St. Vincent & Grenadines
                                                <a href="tel:18669785050">1-866-978-5050</a>
                                            </li>
                                            <li>
                                                Dominica
                                                <a href="tel:17672552153">1-767-255-2153</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <p>
                                        Please report any violations of these TOS to Operations Manager, JN Money Services Ltd, 26 Trafalgar Road, Kingston 10, Jamaica, West Indies at osu@jnbs.com.
                                    </p>
                                </div>
                            </div>
                        <!-- ////////////////////////////////// -->
                        <div id="tocend"></div>
                    </div>
                </div>
            </div>
            <a data-role="button" class="btn-primary" id="btnAgree">Agree</a>
        </form>
    </div>

    
       
    
</div>
