﻿@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    src: url(../fonts/OpenSans-CondBold.ttf);
}

@font-face {
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    src: url(../fonts/OpenSans-CondLight.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 500;
    font-style: italic;
    src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    src: url(../fonts/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 500;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: url(../fonts/OpenSans-Semibold.ttf);
}