* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-shadow: none !important;
}

body, input, select, textarea, button, .ui-btn {
    font-family: 'Open Sans', sans-serif;
}

body a {
    text-decoration: none;
}

.ui-popup-screen.in {
    background-color: #333;
}

.not-yet {
    opacity: 0.3;
}


/*//////////////////HOME//////////////////*/

#home h4 {color: white;}
#home .ui-header .ui-title img {vertical-align: middle;}
#home.ui-page-theme-a .ui-header.ui-bar-inherit {
    border-bottom: 0;
}

#home .footer-bottom {
    padding: 0.6rem;
    background-color: #0C62AA;
}

#home .footer-bottom span {
    color: #9DBCD5;
    font-size: 0.75rem;
    font-weight: 400; 
    margin-right: 10px;
}

#home .ui-header .icon-header i {
    color: #0C62AA;
    font-size: 1.2rem;
}

#home .ui-header .ui-title {
    text-align: center;
    padding-left: 0;
}

#home .buttons-options {
    margin: 1rem !important;
    text-align: center;
}

#home .buttons-options p {
    margin: 0;
    font-weight:300;
    text-transform: none;
}

#home .buttons-options .box i {font-size: 35px;}

#home .ui-footer .ui-btn:hover {background-color: white;}

#home .ui-btn.box {
    white-space:normal;
    border: 1px solid #0C62AA;
    background-color: transparent;
    color: #0C62AA;
    box-shadow: none;
    margin: 0 0.4rem;
    font-size: 0.75rem;
    line-height: 1;
    padding: 0.7rem 0.5rem;
}

#home .ui-footer .ui-btn.ui-btn-xs {
    background: #0A5492;
    border-radius:3px; 
    padding: 0.3rem 0.8rem;
    color: #9DBCD5 !important;
    box-shadow: 2px 2px 0px 0px #094373;
    font-size: 0.7rem;
    text-transform: uppercase;
}

/*////////////////////////////////////*/


.ui-content {
    padding: 1.3rem 0.8rem;
}

.ui-content .ui-listview-inset {
    margin-top: 0;
}

.ui-page-theme-a a, .ui-page-theme-a a:visited  {
    text-decoration: none;
    color: #666;
}

.ui-page-theme-a .ui-btn,
.ui-page-theme-a .ui-btn,
.ui-page-theme-a .ui-btn,
.ui-page-theme-a .ui-btn.ui-btn-active {
    background-color: initial;
    color: initial;
    box-shadow: initial;
    border: none;
    margin: 0;
}

/*//////////////////TEXT//////////////////*/

.text-primary { color: #0C62AA; }
.text-gray { color: #666666 !important; }
.text-white { color: #FFF !important; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/*//////////////////BG//////////////////*/

.ui-page-theme-a .ui-panel-wrapper {
    background: #F3f3f3;
}

.bg-photo {
    background: url(../images/bg-home.jpg);
    background-size: 100%;
    background-repeat: no-repeat
}

.ui-bg-none {
    background: transparent !important;
    border: none;
    box-shadow: none !important;
}

.ui-page-theme-a .ui-bar-inherit.bg-white {
    background-color: white;
}

.bg-face {
    padding: 3rem;
    text-align: center;
    font-size: 5rem;
    color: white;
}

.bg-face.success {
    background-image: linear-gradient(-180deg, #025CA9 0%, #003A68 100%);
}

.bg-face.error {
    background-image: linear-gradient(-180deg, #EF473F 0%, #811712 100%);
}


.m0 {margin: 0;}
.mAuto {margin: 0.5rem auto !important;}
.m1 {margin: 1rem !important;}
.left { float: left;}
.right { float: right;}
.m30b {margin-bottom: 30px;}
.p2l { padding-left: 2rem !important; }
.p1 {padding: 1rem;}
.pr {position: relative;}
.pull-down {padding-top: 4rem;}

.line-b { 
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.8rem; 
}

.icon {
    margin: 5px;
    vertical-align: middle;
}

.icon-xs i {
    font-size: 4rem;
}


#errorContent p {
    border-radius: 5px;
    background: #deecf7;
    padding: 0.5rem;
    margin: 0;
    color: #025ca9;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}


/*//////////////////HEADER//////////////////*/

.ui-btn.icon-header {
	border: 0;
	background-color: transparent !important;
	box-shadow: none !important;
	padding: 0.6rem 0.4rem;
}


.ui-header .ui-title {
	text-align: left;
	margin: 0;
    padding-left: 2.7rem;
    font-family: 'Open Sans Condensed', sans-serif;
}

.ui-header .ui-title.center {
    text-align: center;
    padding-left: 0;
}

a.ui-btn-right i.ss-close {
    color: #666;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 100;
}

.ui-header.bg-blue i, .ui-header.bg-blue a.ui-btn-right i.ss-close {
    color: white;
    font-size: 1.2rem;
}

.sub-header {
    background: #fff;
    padding: 0.8rem;
    border-bottom: 1px solid #EBEBEC;
    font-size: 1.1rem;
}

.sub-header a {
    padding: 0.5rem
}

.box {
	border: 1px solid #333;
	padding: 0.8rem;
	border-radius: 10px;
}

.ui-page-theme-a .ui-header.ui-bar-inherit {
	line-height: 1.6;
	border: none;
	border-bottom: 1px solid #EBEBEC;
}

.ui-page-theme-a .ui-bar-inherit.bg-blue {
	background-color: #025CA9;
    color: white;
    height: 3rem;
}

.ui-page-theme-a .ui-bar-inherit img.img-steps {
    width: 50px;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}



.ui-btn.btn-primary {
    background-color: #0C62AA !important;
    color: white !important;
    padding: 0.8rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-radius: 5px;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem;
    box-shadow: 2px 2px 0px 0px #094475;
}

.ui-btn.btn-warning {
    background-color: #A42018 !important;
    color: white !important;
    padding: 0.8rem;
    text-transform: uppercase;
    border-radius: 10px;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
}


/*//////////////////FORM//////////////////*/

.error-form {
    color: red;
    text-align: right;
    display: block;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.ui-mobile label {
    font-size: 12px;
    color: #B2B2B2;
    margin: 0;
}

.ui-select {
    margin: 0;
}

.ui-select .ui-btn, .ui-input-text {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0;
    text-align: left;
    font-weight: 300;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 2;
}

.ui-select .ui-btn select {
    font-size: 0.9rem;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    background-color: transparent;
}

.ui-icon-carat-d:after {
    background-image: url(images/icons-svg/carat-d-black.svg);
}


/*//////////////////POPUP//////////////////*/

.ui-popup-container {
    width: 100%;
}

.popup-header {
    text-align: center;
}

.popup-header p, .popup-footer p {
    font-size: 0.8rem;
    color: #666;
}

.popup-content {
    background-color: #f8f8f9;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.15);
    line-height: 1.4;
}

.popup-content .info-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.popup-content .info-item {
    border-bottom: 1px solid #eaeaea;
    padding: .5rem 0 1rem;
    margin: 0 0 1rem;
}

.popup-content p.amount-receives {
    font-size: 1.5rem;
    color: #1ABC9C;
    margin: 0;
}

.popup-content p.amount-receives.text-p2p { color: #47A398; }
.popup-content p.amount-receives.text-pensiontransfer { color: #F5A623; }
.popup-content p.amount-receives.text-globalaccounttransfer { color: #9A61B7; }
.popup-content p.amount-receives.text-thirdpartytransfer { color: #355490; }
.popup-content p.amount-receives.text-billpaytransfer { color: #4BA6C0; }
.popup-content p.amount-receives.text-accounttransfer { color: #727272; }
.popup-content p.amount-receives.text-institutiontransfer { color: #BABABA; }
.popup-content p.amount-receives.text-mobiletopup { color: #8B572A; }
.popup-content p.amount-receives.text-mtcardpayment { color: #E7706B; }

.popup-content p {
    font-size: 0.8rem;
    color: #666;
    margin: 0 0 0.4rem;
}

.popup-content p.address {
    margin: 0;
    padding: 0.35rem 0 0;
}

.popup-content span {
    font-size: 0.75rem;
    color: #666;
}

.popup-footer .ui-btn {
    margin: 0;
    border-radius: 0 0 5px 5px;
    border: none;
    padding: 1.2rem;
}

.popup-footer .sub-footer {
    background-color: #E8E8E9;
    text-align: center;
    overflow: hidden;
}

.popup-footer .sub-footer h3 {
    margin: 1rem 0 0.2rem;
}

.popup-footer .sub-footer p {
    margin: 0 0 1rem;
}

.popup-content.panel  {
    background-color: #FFF;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.10);
    border-radius: 3px;
}

.transaction-id {
    margin-top: 3rem;
}

.transaction-id p {
    font-size: 0.75rem;
    color: #666;
    margin: 0.3rem 0;
}

.ui-listview li {
    margin-bottom: 1rem;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.10);
    border-radius: 5px !important;
    overflow: hidden;
}

.ui-listview>.ui-li-has-thumb>.ui-btn {
    padding: 0.8rem; 
    min-height: 0;
    background: #fff;
    border: none;
    line-height: 1.2;
}

.p2p h6.ui-block-b { color: #47A398; }
.pensiontransfer h6.ui-block-b { color: #F5A623; }
.globalaccounttransfer h6.ui-block-b { color: #9A61B7; }
.thirdpartytransfer h6.ui-block-b { color: #355490; }
.billpaytransfer h6.ui-block-b { color: #4BA6C0; }
.accounttransfer h6.ui-block-b { color: #727272; }
.institutiontransfer h6.ui-block-b { color: #BABABA; }
.mobiletopup h6.ui-block-b { color: #8B572A; }
.mtcardpayment h6.ui-block-b { color: #E7706B; }

.p2p { border-right: 4px solid #47A398 !important; }
.pensiontransfer { border-right: 4px solid #F5A623 !important; }
.globalaccounttransfer { border-right: 4px solid #9A61B7 !important; }
.thirdpartytransfer { border-right: 4px solid #355490 !important; }
.billpaytransfer { border-right: 4px solid #4BA6C0 !important; }
.accounttransfer { border-right: 4px solid #727272 !important; }
.institutiontransfer { border-right: 4px solid #BABABA !important; }
.mobiletopup { border-right: 4px solid #8B572A !important; }
.mtcardpayment { border-right: 4px solid #E7706B !important; }

.ui-listview>.ui-li-has-thumb>.ui-btn h4, .ui-listview>.ui-li-has-thumb>.ui-btn p {
    margin: 0.2rem 0;
}

.ui-listview .ui-li-has-thumb>.ui-btn>i.icon-sendMoney,
.ui-listview .ui-li-has-thumb>.ui-btn>i.icon-transferCard {
    font-size: 40px;
    margin-right: 10px;
    margin-top: 3px;
}

/*////////////////// SIDEBAR //////////////////*/

.ui-panel-inner {
    padding: 0;
}

.ui-panel-position-left {
    background-image: linear-gradient(-180deg, #025CA9 0%, #003661  100%);
}

.ui-panel-position-left .sidebar-header {
    border-bottom: 1px solid #206CA7;
    overflow: hidden;
    font-size: 0.9rem;
}

.ui-panel-position-left .sidebar-header h4 {
    padding: 1.3rem 1.5rem;
    margin: 0;
    color: white;
    font-weight: 400;
    float: left;
}
.ui-panel-position-left .sidebar-header a {
    padding: 1.3rem 1rem;
    display: block;
    float: right;
    color: white;
}

.ui-panel-position-left .sidebar-header a.line-left {
    border-left: 1px solid #206CA7;
} 

.ui-panel-position-left ul.sidebar-items {
    padding-left: 1.5rem;
    list-style:none;
}

.ui-panel-position-left ul.sidebar-items li a {
    padding: 0.6rem 0;
    color: #B4CBDD;
    font-weight: 400;
    font-size: 0.9rem;
    display: block;
}

.ui-panel-position-left ul.sidebar-items li a i {
    margin-right: 1rem;
    font-size: 1.3rem;
    vertical-align: middle;
}

.ui-panel-position-left .sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

    font-size: 0.8rem;
}

.ui-panel-position-left .sidebar-footer a {
    color: #83A7C4;
    font-weight: 400;
}

.ui-panel-position-left .sidebar-footer .circle {
    background-color: #07508A;
    margin: 0 auto;
    float: none;
    color: #83A7C4;
    margin-bottom: 0.5rem;
    height: 50px;
    width: 50px;
    line-height: 2.5;
}


/*////////////////// callUs //////////////////*/

.callUs .item {
    padding: 2rem;
}

.callUs .item:first-child {
    border-bottom: 1px solid #DEDEDE;
    padding-top: 1rem;
}

.callUs .item h3 {
    font-size: 2rem;
    color: #0C62AA;
    margin: 0;
}

.callUs .item h4 {
    color: #0C62AA;
    font-weight: 600;
}

.callUs .item p {
    font-size: 0.9rem;   
}

.callUs .item h4, .callUs .item p {
    margin: 0.5rem 0;
}

/*////////////////// Tabs //////////////////*/

.tabs-menu {
    position: fixed;
    top: 48px;
    height: 50px;
    font-size: 0.9rem;
    margin: 0px;
    list-style-type: none;
    padding: 0;
    background-color: #fff !important;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10) !important;
    border-bottom: 0;
}

    .tabs-menu li {
        float: left;
        height: 47px;
        line-height: 3.5;
        text-align: center;
        width: 50%;
    }

    .tabs-menu li.current {
        border-bottom: 3px solid #0C62AA;
    }

    .tabs-menu li.current a {
        color: #0C62AA; 
    }

    .tabs-menu li a {
        color: #ABABAB;
        font-weight: 600;
    }

.tab-content {
    display: none;
}

h3.blue {
    color: #0C62AA;
    font-size: 1rem;
}

h3.blue:first-child {
    margin-top: 0;
}

#sending {
    display: block;
}

.circle {
    background-color: #f2f2f2;
    color: #4a4a4a;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: left;
    margin-right: 0.7rem;
    font-size: 1.4rem;
    line-height: 2;
    text-align: center;
}

.circle.circle-p2p i {
    font-style: normal;
    font-weight: 100;
}

.circle.circle-p2p {
    background-color: #47A398;
    color: white;
}

.circle.circle-pensiontransfer {
    background-color: #F5A623;
    color: white;
}

.circle.circle-globalaccounttransfer {
    background-color: #9A61B7;
    color: white;
}

.circle.circle-thirdpartytransfer {
    background-color: #355490;
    color: white;
}

.circle.circle-paybill {
    background-color: #4BA6C0;
    color: white;
}

.circle.circle-sendaccount {
    background-color: #727272;
    color: white;
}

.circle.circle-institutiontransfer {
    background-color: #BABABA;
    color: white;
}

.circle.circle-mobiletopup {
    background-color: #8B572A;
    color: white;
}

.circle.circle-transfercard {
    background-color: #E7706B;
    color: white;
}

.ui-header .circle {
    width: 35px;
    height: 35px;
    font-size: 1.3rem;
    margin-top: 0.45rem;
    line-height: 2;
}

.back {
    text-decoration: none;
    color: #333 !important;
    line-height: 2.75;
    font-size: 1rem !important;
}

.ui-listview>li h6 {
    font-weight: 400;
    margin: 0.2rem 0;
    font-size: 0.9rem;
}


.ui-navbar.menu i {
    display: block;
    font-size: 1.3rem;
}

.ui-navbar.menu a.ui-btn {
    font-size: 0.6rem;
    text-transform: uppercase;
    padding: 0.4rem 0 0.1rem;
    line-height: 1.2;
    border-top: 3px solid transparent !important;
    background-color: #fff !important;
    color: #666;
    border: none;
}

.ui-navbar.menu a.ui-btn.ui-btn-active {
    border-top: 3px solid #0C62AA !important;
    background-color: transparent;
    color: #0C62AA;
}

.exchangeData {
    background-color: #EDEDED;
    padding: 0.7rem;
    font-size: 0.8rem;
    border-radius: 5px;
}

.exchangeData p {
    margin: 0 0 5px 0;
}

.ui-input-text input {
    font-size: 0.9rem;
    color: #333;
}

.ui-input-text input.icon-dolar {
    padding-left: 1rem;
}

i.icon-dolar-input {
    position: absolute;
    left: 0;
    top: 20px;
    color: #666;
    font-style: normal;
}

.americanExpress {
    background-image: url(../images/american-express.png);
    background-size: 30px;
    height: 37px;
    background-position: 5px 11px;
    background-repeat: no-repeat;
}

.masterCard {
    background-image: url(../images/masterCard.png);
    background-size: 30px;
    height: 37px;
    background-position: 5px 11px;
    background-repeat: no-repeat;
}

.visa {
    background-image: url(../images/visa.png);
    background-size: 30px;
    height: 37px;
    background-position: 5px 15px;
    background-repeat: no-repeat;
}

.label {
    display: inline-block;
    border-radius: 100px;
    padding: 0.1rem 0.3rem;
    border: 1px solid #666;
    color: #666;
    font-size: 0.7rem;
    font-weight: 400;
}

.label.warning {
    border: 1px solid #A42018;
    color: #A42018;
}

#list-cards .label.warning {
    position: absolute;
    top:50%;
    margin-top: -9px;
    right: 28px;
}

#list-cards h5 {
    color: #666;
    margin-bottom:5px;
}

/*for using in loading jqm*/
.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:100;
}

.ui-loading .ui-loader-background {
    display:block;
}
/*==================*/

#TransferSendTo .ui-popup-container,
#TransferPayment .ui-popup-container,
#configurePayment .ui-popup-container,
#accountConfigurePayment .ui-popup-container,
#billConfigurePayment .ui-popup-container {
    top: 3% !important;
}

.box-terms {
    height: 300px;
    width: 100%;
    overflow: scroll;
    background-color: #FFF;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.10);
    border-radius: 3px;
    margin: 1rem 0 1.5rem;
}

.box-terms-content {
    padding: 1rem;
    font-size: 0.8rem;
    color: #666;
}

.box-terms-content h4 {
    margin: 0;
    font-size: 0.9rem;
}
    