﻿<div data-role="page" id="recipientDetails">
    <link href="../../css/Recipients/Recipients.css" rel="stylesheet" />

    <div data-role="header" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Recipients</h1>
        <!-- <a href="" class="icon-header ui-btn-right"><i class="ss-trash"></i></a> -->
    </div>

    <div data-role="content">
        <ul class="ui-listview ui-listview-inset" data-inset="true" id="content-detail">
            <!-- <li class="ui-li-has-thumb">
                <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
                    <h4 id="">{{nameRecipient}}</h4>
                    <p>{{countryName}}</p>
                </div>
                <div class="popup-content ui-content">
                    <div class="info-item text-center">
                        <div class="circle">
                            <i class="ss-mail"></i>
                        </div>
                        <p id="">{{mailRecipient}}</p>
                    </div>
                    <div class="info-item text-center">
                        <div class="circle">
                            <i class="ss-phone"></i>
                        </div>
                        <p id="">{{phone}}</p>
                    </div>
                    <div class="info-item text-center">
                        <div class="circle">
                            <i class="ss-location"></i>
                        </div>

                        <p class="address">{{#each address}}</p>
                        <span>{{this}}</span>
                        <span>{{/each}}</span>

                    </div>
                </div>
            </li> -->
        </ul>

    </div>

    <!--template para mostrar detalles del recipient.-->
    <script type="text/x-handlebars-template" id="recipient-details-template">

        <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
            <h4 id="">{{nameRecipient}}</h4>
            <p>{{countryName}}</p>
        </div>
        <div class="popup-content ui-content">
            <div class="info-item text-center">
                <div class="circle">
                    <i class="ss-mail"></i>
                </div>
                <p id="">{{mailRecipient}}</p>
            </div>
            <div class="info-item text-center">
                <div class="circle">
                    <i class="ss-phone"></i>
                </div>
                <p id="">{{phone}}</p>
            </div>
            <div class="info-item text-center">
                <div class="circle">
                    <i class="ss-location"></i>
                </div>
                <p class="address">{{address.address1}},</p>
                <span class="address">{{address.address2}},</span>
                <span class="address">{{address.address3}},</span>
                <span class="address">{{address.address4}}</span>
                <span class="address">{{address.addressCountry}}</span>
            </div>
        </div>
    </script>
</div>