﻿<div data-role="page" id="recipient-list">
    <link href="../../css/Recipients/Recipients.css" rel="stylesheet" />

    <div data-role="header" class="bg-blue">
        <a href="#leftmenu" class="icon-header ui-btn-left"><img src="../../css/images/icons-svg/bars-white.svg" alt="phone" width="20" /></a>
        <h1 data-role="tittle" class="center"><img src="../../images/logo-bg-white.png" width="142" alt="Logo" /></h1>
        <a href="../AddRecipients/AddRecipientsMainMenu.html" class="icon-header ui-btn-right"><i class="ss-plus"></i></a>
    </div>

    <div data-role="content">
        <div id="errorContent"></div>
        <ul class="ui-listview ui-listview-inset" data-inset="true" id="recipientsContainer">
            <!-- <li class="ui-li-has-thumb ui-nodisc-icon ui-alt-icon">
                <a href="RecipientDetails.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <div class="circle"><i class="ss-user"></i></div>
                    <h4>{{nameRecipient}}</h4>
                    <p>{{mailRecipient}}</p>
                </a>
            </li> -->
        </ul>

    </div>

    <div data-role="footer" data-position="fixed">
        <div data-role="navbar" class="menu">
            <ul class="">
                <li><a href="../History/History.html"><i class="ss-counterclockwise"></i>History</a></li>
                <li><a href="../Send/Send.html"><i class="ss-send"></i>Send</a></li>
                <li><a class="ui-btn-active" href="../Recipients/Recipients.html"><i class="ss-users"></i>Recipients</a></li>
            </ul>
        </div>
    </div><!-- /footer -->

    <script type="text/x-handlebars-template" id="item-recipient-template">

        <a href="RecipientDetails.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
            <div class="circle"><i class="ss-user"></i></div>
            <h6>{{nameRecipient}}</h6>
            <p class="text-gray">{{mailRecipient}}</p>
        </a>
    </script>
</div>