﻿<div data-role="page" id="registrationCustomAddress">
    <div data-role="header" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">User verification</h1>
        <a href="../../../index.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content">
        <form id="formSubmit">
            <div id="errorContent"></div>
            <h4 class="text-primary m0 m30b">Address</h4>
            <div class="m30b">
                <label for="selectCountry">Country</label>
                <select class="select" name="selectCountry" id="selectCountry">
                    <option value="-1" disabled selected>Select</option>
                </select>
            </div>
            <div class="m30b">
                <label for="selectStates">State / Province / Parish</label>
                <select class="select" name="selectStates" id="selectStates">
                    <option value="-1" disabled selected>Select</option>
                </select>
            </div>
            <div class="m30b">
                <label for="cityOrTown">City / Town</label>
                <input id="cityOrTown" name="cityOrTown" type="text" />
            </div>
            <div class="m30b">
                <label for="street">Street Name & N°</label>
                <input id="street" name="street" type="text" />
            </div>
            <div class="m30b">
                <label for="postalCode">Post Code / ZIP / PO box</label>
                <input id="postalCode" name="postalCode" type="text" />
            </div>
            <a data-role="button" class="btn-primary" id="next" >Next</a>
        </form>
    </div>

    
       
    
</div>
