﻿<div data-role="page" id="aditional-details">
    <div data-role="header" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">User verification</h1>
        <a href="../../../index.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content">
        <div id="errorContent"></div>
        <form id="formSubmit">
            <h4 class="text-primary m0 m30b">Aditional Details</h4>
            <div class="m30b">
                <label for="mobileNumber">Mobile Telephone</label>
                <input id="mobileNumber" name="mobileNumber" type="tel" />
            </div>
            <div class="m30b">
                <label for="otherPhoneNumber">Other Telephone</label>
                <input id="otherPhoneNumber" name="otherPhoneNumber" type="tel" />
            </div>
            <div class="m30b">
                <label for="occupation">Occupation</label>
                <input id="occupation" name="occupation" type="text" />
            </div>
            <div class="m30b">
                <label for="frecuency">Expected transaction frequency</label>
                <select class="select" name="frecuency" id="frecuency">
                    <option value="-1" disabled selected>Select</option>
                </select>
            </div>
            <div class="m30b">
                <label for="purpose">Purpose for transfer</label>
                <input id="purpose" name="purpose" type="text" />
            </div>
            <a data-role="button" class="btn-primary" id="finish" href="">Finish</a>
        </form>
    </div>

    
       
    
</div>
