﻿<div data-role="page" id="registerPersonDetails">
    <div data-role="header" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">User verification</h1>
        <a href="../../../index.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content">
        <form id="formSubmit">
            <h4 class="text-primary m0 m30b">Personal Details</h4>
            <div class="m30b">
                <label for="titles">Title</label>
                <select class="select" name="titles" id="titles">
                    <option value="-1" disabled selected>Select</option>
                    <option value="Mr">Mr</option>
                    <option value="Miss">Miss</option>
                    <option value="Mrs">Mrs</option>
                </select>
            </div>
            <div class="m30b">
                <label for="firstName">First Name</label>
                <input id="firstName" name="firstName" type="text" required />
            </div>
            <div class="m30b">
                <label for="middleName">Middle Name</label>
                <input id="middleName" name="middleName" type="text" />
            </div>
            <div class="m30b">
                <label for="lastName">Last Name</label>
                <input id="lastName" name="lastName" type="text" />
            </div>
            <div class="m30b">
                <label for="birth">Date of Birth</label>
                <input id="birth" name="birth" type="date" />
            </div>
            <div class="m30b">
                <label for="nations">Nationality</label>
                <select class="select" name="nations" id="nations">
                    <!--<option value="-1" disabled selected>Select</option>-->
                </select>
            </div>
            <a data-role="button" class="btn-primary" id="next" href="">Next</a>
        </form>
    </div>
</div>
