﻿<div data-role="page" id="registerQuestion2">
    <link href="../../css/wizardSignup/wizardSignup.css" rel="stylesheet" />
    <div data-role="header" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">User verification</h1>
        <a href="../../../index.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>
    <div data-role="content">
        <div class="text-center">
            <h1><i class="ss-send"></i></h1>
            <h3>Do you have any recent transaction number from a transfer?</h3>
            <p class="text-gray m30b"> Please enter the Transaction Number and Amount</p>
        </div>
        <form id="formSubmit">
            <div id="errorContent"></div>
            <div class="m30b">
                <label for="transactionNumber">Transaction Number</label>
                <input id="transactionNumber" name="transactionNumber" type="text" required />
            </div>
            <div class="m30b">
                <label for="transactionAmount">Amount</label>
                <input id="transactionAmount" name="transactionAmount" type="number" required />
            </div>
        </form>
    </div>
    <div class="ui-grid-a">
        <div class="ui-block-a p1">
            <a data-role="button" class="btn-warning" id="" href="personalDetails.html">Skip</a>
        </div>
        <div class="ui-block-b p1">
            <a data-role="button" class="btn-primary" id="btnNext" href="">Next</a>
        </div>
    </div>
</div>
