﻿<div data-role="page" id="registerQuestion1">
    <link href="../../css/wizardSignup/wizardSignup.css" rel="stylesheet" />
    <div data-role="header" class="bg-blue">
        <a id="logout" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">User verification</h1>
        <a href="../../../index.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>
    <div data-role="content">
        <div id="errorContent"></div>
        <div class="text-center">
            <h1><i class="ss-creditcard"></i></h1>
            <h3>Do you own a loyalty card?</h3>
            <p class="text-gray"> Please enter the card number</p>
        </div>
        <form id="formSubmit">
            <div class="m30b pull-down">
                <label for="">Card Number</label>
                <input id="card-number" name="card-number" type="text" required />
            </div>
        </form>
    </div>
    <div class="ui-grid-a">
        <div class="ui-block-a p1">
            <a data-role="button" class="btn-warning" id="" href="questionTwo.html">Skip</a>
        </div>
        <div class="ui-block-b p1">
            <a data-role="button" class="btn-primary" id="question-one-next" href="">Next</a>
        </div>
    </div>
</div>