﻿<div data-role="page" id="callUs">

    <div data-role="header" data-position="fixed" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Call Us</h1>
    </div>
    <div data-role="content" class="callUs text-center" id="tel-form">
        <div class="item">
            <h3><i class="ss-home"></i></h3>
            <h4>Head Office</h4>
            <p class="text-gray">2-4 Constant Spring Road <br> Kingston 10, Jamaica</p>
        </div>
        <div class="item">
            <h3><i class="ss-phone"></i></h3>
            <h4 id="place"></h4>
            <p data-value="Phone" class="text-gray control" id="phone"></p>
            <a id="tel-link" href="" data-role="button" class="btn-primary m1">Call</a>
        </div>
    </div>
</div>

