﻿<div data-role="page" id="accountListView">
    <link href="../../../css/Transfer/Transfer.css" rel="stylesheet" />

    <div data-role="header" class="bg-white p2l">
        <a href="" class="back" data-rel="back" data-role="none"><i class="ss-left"></i></a>
        <div class="circle circle-sendaccount">
            <i class="ss-bank"></i>
        </div>
        <h1 data-role="tittle">
            Send To Account <small>Recipients</small>
        </h1>
        <a href="../../Send/Send.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>
    <div class="ui-grid-a sub-header">
        <div class="ui-block-a">
            <label>Send to</label>
        </div>
        <div class="ui-block-b text-right">
            <a id="accountRecipientTargetListCloseLocation"><i class="ss-plus"></i></a>
            <!-- <a href="#"><i class="ss-search"></i></a> -->
        </div>
    </div>

    <div data-role="content">
        <div id="errorContent"></div>
        <ul class="ui-listview ui-listview-inset" data-inset="true" id="listAccountRecipients"></ul>

        <div data-role="popup" id="popupRecipient" data-overlay-theme="b">
            <div class="popup-header ui-content">
                <a href="#" data-rel="back" class="ui-corner-all ui-btn-right"><i class="ss-close">X</i></a>
                <h4 id="pop-fullname">{{holderFirstName}} {{holderLastName}}</h4>
                <p>{{address.addressCountry}}</p>
            </div>
            <div class="popup-content ui-content">
                <div class="ui-nodisc-icon ui-alt-icon info-item text-center">
                    <div class="circle">
                        <i class="ss-mail"></i>
                    </div>
                    <p>Account Number</p>
                    <p >{{accountNumber}}</p>
                </div>
                <div class="ui-nodisc-icon ui-alt-icon info-item text-center">
                    <div class="circle">
                        <i class="ss-phone"></i>
                    </div>
                    <p>Phone </p>
                    <p >{{telephone}}</p>
                 
                </div>
            </div>
            <div class="popup-footer">
                <a data-role="button" class="ui-btn btn-primary" id="amountAction">Confirm</a>
            </div>
        </div>

    </div>

    <!--templates region-->

    <script type="text/x-handlebars-template" id="li-template">
        <li class="ui-li-has-thumb ui-nodisc-icon ui-alt-icon"></li>
    </script>
    <script type="text/x-handlebars-template" id="li-content-template">
        <a class="ui-btn ui-btn-icon-right ui-icon-carat-r">
            <div class="circle circle-sendaccount"><i class="ss-user"></i></div>
            <h6>{{accountInstitution}}</h6>
            <p class="text-gray">{{holderFirstName}} {{holderLastName}}</p>
            <!--<p>{{accountCurrency}}</p>
            <p>{{accountNumber}}</p>
            <p>{{mailRecipient}}</p>
            <p>{{holderLastName}}</p>-->

        </a>
    </script>
</div>
