﻿.popup-header .circle {
    float: none;
    margin: 0 auto;
}

/*.ui-listview>.ui-li-has-thumb>.ui-btn.history-person {
	border-bottom: 2px solid #F2807B;
}

.ui-listview>.ui-li-has-thumb>.ui-btn.history-card {
	border-bottom: 2px solid #F8C065;
}*/


.ui-popup-screen.ui-overlay-inherit.in {
	background: #333;
	position: absolute;
	width: 100%;
	height: 100%;
}