<!DOCTYPE html>
<html>
<head>
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com
http://jnbsdummyapi.azurewebsites.net/ * 'unsafe-eval'; style-src 'self' 'unsafe-inline' *; media-src *">



    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <!--load css stylesheet-->

    <link href="scripts/pickdate.js/default.css" rel="stylesheet" />
    <link href="scripts/pickdate.js/default.date.css" rel="stylesheet" />

    <link href="css/jquery.mobile-1.4.5.min.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/font.css" rel="stylesheet" />
    <link href="css/icons.css" rel="stylesheet" />

    <title>JNBS Money Transfer</title>
</head>
<body>
    <div data-role="page" class="bg-photo" id="home">
      
        <div data-role="header" class="bg-white">
            <!-- <a href="" class="icon-header"><i class="ss-gift"></i></a> -->
            <h1 data-role="tittle" class="text-center"><img src="images/logo.png" width="142" alt="Logo" /></h1>
            <a href="views/callUs/callUs.html" class="icon-header ui-btn-right"><i class="ss-phone"></i></a>
        </div>
        <div class="ui-bg-none">
            <fieldset class="ui-grid-b buttons-options">
                <div class="ui-block-a">
                    <a href="views/calculateFees/calculateFees.html" class="ui-shadow ui-btn ui-corner-all box">
                        <i class="ss-calculator"></i>
                        <p> Calculate <b>Fees</b></p>
                    </a>
                </div>

                <div class="ui-block-b">
                    <a href="views/LocationFinder/LocationFinder.html" class="ui-shadow ui-btn ui-corner-all box">
                        <i class="ss-location"></i>
                        <p> Find a <b>location</b></p>
                    </a>
                </div>

                <div class="ui-block-c">
                    <a class="ui-shadow ui-btn ui-corner-all box" id="tracking">
                        <i class="ss-earth"></i>
                        <p> Track a <b>Transfer</b></p>
                    </a>
                </div>

            </fieldset>
        </div>

        <div data-role="footer" data-position="fixed" class="ui-bg-none">
            <a class="m1 btn-primary" data-role="button" id="btnLogin" href="">Login</a>
            <div class="text-center footer-bottom">
                <span>Need an Account?</span>
                <a class="ui-btn-xs" data-role="button" id="btnRegister" href="views/customer/customerRegisterPage1.html">Sign up</a>
            </div>
        </div>
    </div>

    <!--Menu-->
    <div data-role="panel" id="leftmenu" data-position="left" data-display="overlay" data-position-fixed="true" class="ui-body-b ui-panel-animate">
        <div class="sidebar-header">
            <h4 id="userName"><!-- Name User --></h4>
            <a id="" data-icon="user" class="line-left not-yet"><i class="ss-notifications"></i></a>
            <a id="btnRefresh" data-icon="user"><i class="ss-refresh"></i></a>
        </div>
        <ul class="sidebar-items">
            <!-- <li><a href="#" data-icon="user"><i class="ss-userprofile"></i>View Profile</a></li> -->
            <li><a href="views/dcCards/dcCards.html" data-icon="user"><i class="ss-creditcard"></i>Debit / Credit Card</a></li>
            <li><a id="btnLogout" data-icon="user"><i class="ss-action"></i>Sign Out</a></li>
        </ul>
        <div class="sidebar-footer ui-grid-b">
            <a href="views/calculateFees/calculateFees.html" class="ui-block-a p1">
                <div class="circle"><i class="ss-calculator"></i></div>
                Fees
            </a>
            <a href="views/LocationFinder/LocationFinder.html" class="ui-block-b p1">
                <div class="circle"><i class="ss-location"></i></div>
                Agents
            </a>
            <a href="views/callUs/callUs.html" class="ui-block-c p1">
                <div class="circle"><i class="ss-phone"></i></div>
                Contact
            </a>

        </div>
    </div>

    <!--template para mensaje de error en parte superior-->
    <script type="text/x-handlebars-template" id="error-template">

        <div style="display: none">
            <p>{{errorMessage}}</p>
        </div>

    </script>

    <div class="ui-loader-background"> </div>

    <!--load external libraries-->

    <script src="scripts/jquery1.12.3/jquery-1.12.3.min.js"></script>
    <script src="scripts/jquery.mobile-1.4.5.min.js"></script>
    <script src="scripts/accounting.min.js"></script>
    <script src="scripts/underscore-min.js"></script>
    <script src="scripts/backbone/backbone-min.js"></script>
    <script src="scripts/backbone/handlebars-v4.0.5.js"></script>
    <script src="scripts/jquery.dateFormat-1.0.js"></script>
    <script src="scripts/jquery.validate.min.js"></script>
    <script src="scripts/randomColor.js"></script>

    <!--custom own libraries-->
    <!--<script src="scripts/configuration/config.js"></script>-->
    <script src="scripts/customLibs/ErrorBox.js"></script>
    <script src="scripts/customLibs/Helpers.js"></script>
    <script src="scripts/customLibs/HelpersCard.js"></script>
    <script src="scripts/customLibs/Connection.js"></script>
    <script src="scripts/customLibs/ViewConector.js"></script>
    <script src="scripts/customLibs/CustomStorage.js"></script>
    <script src="scripts/customLibs/Enumerations.js"></script>
    <script src="scripts/customLibs/TransferHelpers.js"></script>
    <!--pickadate.js scripts-->
    <script src="scripts/pickdate.js/picker.js"></script>
    <script src="scripts/pickdate.js/picker.date.js"></script>
    <script src="scripts/pickdate.js/picker.time.js"></script>
    <!--load cordova library-->
    <script type="text/javascript" src="cordova.js"></script>

    <!--customizations for cordova-->
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/customLibs/authentication/cordova.oauth2.js"></script>

    <!--app code for controllers-->

    <script src="scripts/index.js"></script>
    <script src="scripts/customLibs/authentication/JnbsConnectionLogin.js"></script>
    <script src="scripts/configuration/handlerEventsBuss.js"></script>

    <script src="handlers/home/home.js"></script>
    <script src="handlers/calculateFees/calculateFees.js"></script>
    <script src="handlers/login/postLoginWorkflow.js"></script>
    <script src="handlers/Transfer/shared/comonSuccessController.js"></script>

    <script src="handlers/Transfer/TransferAmountV2.js"></script>
    <script src="handlers/Transfer/TransferPaymentV2.js"></script>
    <script src="handlers/Transfer/TransferSendTo.js"></script>
    <script src="handlers/Send/Send.js"></script>
    <script src="handlers/history/history.js"></script>
    <script src="handlers/history/historyFilterPage.js"></script>
    <script src="handlers/AddRecipients/AddRecipientsMain.js"></script>
    <script src="handlers/AddRecipients/AddRecipientPersonStep1.js"></script>
    <script src="handlers/AddRecipients/AddRecipientPersonStep2.js"></script>
    <script src="handlers/AddRecipients/AddRecipientPersonStep3.js"></script>
    <script src="handlers/recipients/RecipientList.js"></script>
    <script src="handlers/recipients/RecipientDetail.js"></script>
    <script src="handlers/Transfer/TransferSuccess.js"></script>
    <script src="handlers/Transfer/TransferError.js"></script>
    <script src="handlers/Transfer/toCard/RecipientListTarget.js"></script>
    <script src="handlers/Transfer/toCard/ConfigureAmount.js"></script>
    <script src="handlers/Transfer/toCard/ConfigurePayment.js"></script>
    <script src="handlers/AddRecipients/AddRecipientCardStep1.js"></script>
    <script src="handlers/LocationFinder/LocationFinder.js"></script>
    <script src="handlers/callUs/callUs.js"></script>

    <!--cards-->
    <script src="handlers/dcCards/defNs.js"></script>
    <script src="handlers/dcCards/registrationCards.js"></script>
    <script src="handlers/dcCards/cardsList.js"></script>
    <script src="handlers/dcCards/cardDetail.js"></script>
    <!--bill pay-->
    <script src="handlers/Transfer/Models/models.js"></script>
    <script src="handlers/Transfer/billPay/recipientBillTargetList.js"></script>
    <script src="handlers/Transfer/billPay/billConfigureAmount.js"></script>
    <script src="handlers/Transfer/billPay/billConfigurePayment.js"></script>
    <script src="handlers/AddRecipients/addBill/billRecolectData.js"></script>
    <script src="handlers/AddRecipients/addBill/billSaveData.js"></script>

    <!--pay account-->
    <script src="handlers/AddRecipients/addAccount/accountSaveData.js"></script>
    <script src="handlers/AddRecipients/addAccount/addAccountStep1.js"></script>
    <script src="handlers/AddRecipients/addAccount/addAccountStep2.js"></script>
    <script src="handlers/AddRecipients/addAccount/addAccountStep3.js"></script>
    <script src="handlers/AddRecipients/addAccount/addAccountStep4.js"></script>
    <script src="handlers/Transfer/sendAccount/accountRecipientList.js"></script>
    <script src="handlers/Transfer/sendAccount/accountConfigureAmount.js"></script>
    <script src="handlers/Transfer/sendAccount/accountConfigurePayment.js"></script>

    <!--customer registration-->
    <script src="handlers/customer/registrationTools.js"></script>
    <script src="handlers/customer/registrationPage1.js"></script>
    <script src="handlers/customer/registrationPage2.js"></script>
    <script src="handlers/customer/registrationPage3.js"></script>
    <script src="handlers/customer/registrationPage4.js"></script>
    <script src="handlers/customer/wizardSignup/questionOne.js"></script>
    <script src="handlers/customer/wizardSignup/questionTwo.js"></script>
    <script src="handlers/customer/wizardSignup/personDetails.js"></script>
    <script src="handlers/customer/wizardSignup/identification.js"></script>
    <script src="handlers/customer/wizardSignup/address.js"></script>
    <script src="handlers/customer/wizardSignup/aditionalDetails.js"></script>

</body>
</html>
