<div data-role="page" id="addRecipientStep3">

    <div data-role="panel" id="leftmenu" data-position="left" data-display="reveal" data-theme="a" data-position-fixed="true" class="ui-panel ui-panel-position-left ui-body-b ui-panel-animate ui-panel-closed">
        <ul class="menu">
            <li><a href="../Recipients/Recipients.html" data-icon="user"><i class="ss-users"></i>User</a></li>
        </ul>
    </div>


    <div data-role="header" class="bg-blue">
        <a  data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Add Recipient</h1>
        <a id="CloseAddRecipientsStep3" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content">
        <div id="errorContent"></div>
        <form id="formSubmit">
            <div class="m30b">
                <label for="telephone1">Telephone (*)</label>
                <input type="tel" name="telephone1" id="telephone1"/>
            </div>
            <div class="m30b">
                <label for="telephone2">Other Number</label>
                <input type="tel" name="telephone2" id="telephone2"/>
            </div>
            <div class="m30b">
                <label for="email">Email (*)</label>
                <input type="email" name="email" id="email"/>
            </div>


            <a data-role="button" class="btn-primary" id="list-recipients">Finish</a>
        </form>
    </div>
</div>