<div data-role="page" id="addRecipientStep1">

    <div data-role="panel" id="leftmenu" data-position="left" data-display="reveal" data-theme="a" data-position-fixed="true" class="ui-panel ui-panel-position-left ui-body-b ui-panel-animate ui-panel-closed">
        <ul class="menu">
            <li><a href="../Recipients/Recipients.html" data-icon="user"><i class="ss-users"></i>User</a></li>
        </ul>
    </div>


    <div data-role="header" class="bg-blue">
        <!--<a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>-->
        <h1 data-role="tittle">Add Recipient</h1>
        <a id="CloseAddRecipientsStep1" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content" id="main-content">
        <form id="formSubmit">
        <div class="m30b">
            <label for="selectTitle">Title (*)</label>
            <select class="select" name="selectTitle" id="selectTitle">
                <option value="-1" disabled selected>Select</option>
                <option value="Mr">Mr</option>
                <option value="Miss">Miss</option>
                <option value="Mrs">Mrs</option>
            </select>
        </div>
        <div class="m30b">
            <label for="firstName">First Name (*)</label>
            <input type="text" name="firstName" id="firstName" required/>
        </div>
        <div class="m30b">
            <label for="middleName">Middle Name</label>
            <input type="text" name="middleName" id="middleName"/>
        </div>
        <div class="m30b">
            <label for="lastName">Last Name (*)</label>
            <input type="text" name="lastName" id="lastName" required/>
        </div>


        <a data-role="button" class="btn-primary" id="nextStep2">Next</a>
        </form>
    </div>
</div>