<div data-role="page" id="addRecipients">
    <link href="../../css/AddRecipients/AddRecipients.css" rel="stylesheet" />

    <div data-role="panel" id="leftmenu" data-position="left" data-display="reveal" data-theme="a" data-position-fixed="true" class="ui-panel ui-panel-position-left ui-body-b ui-panel-animate ui-panel-closed">
        <ul class="menu">
            <li><a href="../Recipients/Recipients.html" data-icon="user"><i class="ss-users"></i>User</a></li>
        </ul>
    </div>


    <div data-role="header" class="bg-blue">
        <h1 data-role="tittle">Add Recipient</h1>
        <a href="../Recipients/Recipients.html" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
    </div>

    <div data-role="content">
        <div id="errorContent"></div>
        <ul class="ui-listview ui-listview-inset" data-inset="true" id="">
            <li class="ui-li-has-thumb ui-first-child ui-nodisc-icon ui-alt-icon">
                <a class="ui-btn ui-btn-icon-right ui-icon-carat-r" id="add-person">
                    <div class="circle">
                        <i class="ss-users"></i>
                    </div>
                    <h4>Add Person</h4>
                    <p class="text-gray">Cash Pay-Out Recipients</p>
                </a>
            </li>
            <li class="ui-li-has-thumb ui-first-child ui-nodisc-icon ui-alt-icon">
                <a id="add-card" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <div class="circle">
                        <i class="ss-creditcards"></i>
                    </div>
                    <h4>Add Card</h4>
                    <p class="text-gray">Money Transfer Card</p>
                </a>
            </li>
            <li class="ui-li-has-thumb ui-first-child ui-nodisc-icon ui-alt-icon">
                <a id="add-bill" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <div class="circle">
                        <i class="ss-page"></i>
                    </div>
                    <h4>Add Bill Recipient</h4>
                    <p class="text-gray">Payment Bill</p>
                </a>
            </li>

            <li class="ui-li-has-thumb ui-first-child ui-nodisc-icon ui-alt-icon">
                <a id="add-account" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <div class="circle">
                        <i class="ss-bank"></i>
                    </div>
                    <h4>Add Account</h4>
                    <p class="text-gray">Bank Account recipient</p>
                </a>
            </li>
        </ul>
    </div>
</div>