<div data-role="page" id="addRecipientStep2">

    <div data-role="panel" id="leftmenu" data-position="left" data-display="reveal" data-theme="a" data-position-fixed="true" class="ui-panel ui-panel-position-left ui-body-b ui-panel-animate ui-panel-closed">
        <ul class="menu">
            <li><a href="../Recipients/Recipients.html" data-icon="user"><i class="ss-users"></i>User</a></li>
        </ul>
    </div>


    <div data-role="header" class="bg-blue">
        <a data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Add Recipient</h1>
        <a id="CloseAddRecipientsStep2" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content">
        <div id="errorContent"></div>
        <form id="formSubmit">
            <div class="m30b">
                <label for="selectCountry">Country (*)</label>
                <select class="select" name="selectCountry" id="selectCountry">
                    <option value="-1" disabled selected>Select</option>
                </select>
            </div>
            <div class="m30b">
                <label for="selectStates">State / Province / Parish (*)</label>
                <select class="select" name="selectStates" id="selectStates">
                    <option value="-1" disabled selected>Select</option>
                </select>
            </div>
            <div class="m30b">
                <label for="cityTown">City Town (*)</label>
                <input type="text" name="cityTown" id="cityTown"/>
            </div>
            <div class="m30b">
                <label for="street">Street Name & number (*)</label>
                <input type="text" name="street" id="street"/>
            </div>
            <div class="m30b">
                <label for="postalCode">Post Code / ZIP / PO box</label>
                <input type="text" name="postalCode" id="postalCode"/>
            </div>


            <a data-role="button" class="btn-primary" id="nextView3">Next</a>
        </form>
    </div>
</div>