<div data-role="page" id="addMtCard">

    <div data-role="panel" id="leftmenu" data-position="left" data-display="reveal" data-theme="a" data-position-fixed="true" class="ui-panel ui-panel-position-left ui-body-b ui-panel-animate ui-panel-closed">
        <ul class="menu">
            <li><a href="../Recipients/Recipients.html" data-icon="user"><i class="ss-users"></i>User</a></li>
        </ul>
    </div>


    <div data-role="header" class="bg-blue">
        <!--<a data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>-->
        <h1 data-role="tittle">Search MT card</h1>
        <a id="CloseAddRecipientCardStep1" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content" id="main-content">
        <div id="errorContent"></div>
        <form id="formSubmit">

            <div class="m30b">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" required />
            </div>
            <div class="m30b">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" required />
            </div>
            <div class="m30b">
                <label for="cardNumber">Money Transfer Card Number</label>
                <input type="number" name="cardNumber" id="cardNumber" placeholder="Last 7 digits" required />
            </div>


            <a data-role="button" class="btn-primary" id="btnSearch">Search</a>
        </form>
    </div>

    <div data-role="popup" id="popupMTcard" data-overlay-theme="b">
        <!--here go popup-template-->
    </div>

    <!--popup template-->
    <script type="text/x-handlebars-template" id="popup-template">

        <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
            <a href="#" data-rel="back" class="ui-corner-all ui-btn-right"><i class="ss-close">X</i></a>
            <h4 id="">{{nameRecipient}}</h4>
            <p>{{countryName}}</p>
        </div>
        <div class="popup-content ui-content">
            <div class="ui-nodisc-icon ui-alt-icon info-item text-center">
                <div class="circle">
                    <i class="ss-creditcard"></i>
                </div>
                <p id="">{{cardNumberMasked}}</p>  <!--****-****-****-1234-->
            </div>
            <div class="ui-nodisc-icon ui-alt-icon info-item text-center">
                <div class="circle">
                    <i class="ss-phone"></i>
                </div>
                <p id="">{{phoneRecipient}}</p>
            </div>
            <div class="ui-nodisc-icon ui-alt-icon info-item text-center">
                <div class="circle">
                    <i class="ss-location"></i>
                </div>
                <!--<p id="">Jamica, jamaica, jamaica, jamaica</p>-->
                <p class="address">{{address.address1}},</p>
                <span class="address">{{address.address2}},</span>
                <span class="address">{{address.address3}},</span>
                <span class="address">{{address.address4}}</span>
            </div>
        </div>
        <div class="popup-footer">
            <!--href="../AddRecipients/AddRecipientsMainMenu.html"-->
            <a data-role="button" class="ui-btn btn-primary" id="addRecipientCard">Confirm</a>
        </div>

    </script>

</div>