﻿<div data-role="page" id="cardCollectionView">
    <link href="../../css/DebitCards/DebitCards.css" rel="stylesheet" />

    <div data-role="header" class="bg-blue">
        <a href="../Send/Send.html" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Debit / Credit Cards</h1>
        <a  class="icon-header ui-btn-right" id="addCard"><i class="ss-plus"></i></a>

    </div>

    <div data-role="content">
        <div id="errorContent"></div>
        <ul id="list-cards" class="ui-listview ui-listview-inset" data-inset="true" >  
        </ul>

    </div>

    <script type="text/x-handlebars-template" id="cardItemTemplate">
        <a class="ui-btn ui-btn-icon-right ui-icon-carat-r showDetailCurrentCard">
            <div class="circle"><div class="ss-creditcard"></div></div>
            <h4>{{cardType}}</h4>
            <p  class="text-gray">{{cardDescription}}</p>
            <p data-value="confirmedText" class="label warning">{{confirmedText}}</p>
           <!-- <input type="hidden" class="control itemId" data-value="AccountCardId" />-->
        </a>
    </script>
</div>