﻿<div data-role="page" id="cardDetail">
    <link href="../../css/DebitCards/DebitCards.css" rel="stylesheet" />
    <div data-role="header" class="bg-blue">
        <a href="dcCards.html"  class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Debit / Credit Cards</h1>
        <!--<a href="#deleteCard" data-rel="popup" data-position-to="window" data-transition="fade" class="icon-header ui-btn-right"><i class="ss-trash"></i></a>-->
        <a id="removeCard" data-position-to="window" data-transition="fade" class="icon-header ui-btn-right"><i class="ss-trash"></i></a>

    </div>
    <div data-role="content">
        <div id="errorContent"></div>
        <ul class="ui-listview ui-listview-inset" data-inset="true" id="contentCard">

            <li class="ui-li-has-thumb ui-nodisc-icon ui-alt-icon card-data">
                <div class="popup-content panel ui-content">
                    <div class="text-center">
                        <div class="circle"><div class="{{logoCard}}"></div></div>
                        <h4>{{cardType}}</h4>
                        <p class="text-gray">{{cardDescription}}</p>
                        <p class="m1"><span class="label warning">{{cardStatus}} <!-- Unconfirmed --> </span></p>
                    </div>
                    <a data-role="button" class="btn btn-primary confirm">Confirm</a>


                </div>
            </li>
        </ul>
    </div>

    <div id="deleteCard" data-role="popup">

        <div class="popup-header ui-content">
            <h4> Are you Sure you want to delete this card?</h4>
        </div>
        <div id="errorContentDel"></div>
        <div class="popup-content ui-content">
            <div class="info-item text-center">
                <div class="circle">
                    <i class="ss-creditcard"></i>
                </div>
                <h4 id="del-cardType"></h4>
                <p id="del-cardNumber" class="text-gray"></p>
            </div>
            <a data-role="button" id="delete-action" class="btn-warning" >Delete</a>
        </div>
    </div>
    <!--<div data-role="popup" id="deleteCard">
   
        <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
            <h4> Are you Sure you want to delete this card?</h4>
        </div>
        <div id="errorContentDel"></div>
        <div class="popup-content panel ui-content">
            <div class="info-item text-center">
                <div class="circle">
                    <i class="ss-creditcard"></i>
                </div>
                <h4 id="del-cardType"></h4>
                <p id="del-cardNumber" class="text-gray"></p>
            </div>
            <a data-role="button" class="btn-warning" id="delete-action">Delete</a>
        </div>
    </div>-->

    <div data-role="popup" id="confirmCard">
        <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
            <h4 id="confirm-cardType"> {{cardType}}</h4>
            <p class="text-gray" id="confirm-cardNumber">{{cardDescription}}</p>
        </div>
        <div class="popup-content ui-content">
            <div class="info-item text-center">
                <p>Please entere the amount that was charged to you</p>
                <label for="amountConfirm">Amount</label>
                <input type="number" name="amountConfirm" id="amountConfirm" />
            </div>
            <div class="popup-footer">
                <a href="" data-role="button" class="btn btn-primary confirm-action">Confirm</a>
            </div>
        </div>
    </div>

    <!--
    <script type="text/x-handlebars-template" id="cardTemplate">
        <li class="ui-li-has-thumb ui-nodisc-icon ui-alt-icon">
            <div class="popup-content ui-content">
                <div class="text-center">
                    <div class="circle"><i class="ss-creditcard"></i></div>
                    <h4>{{cardType}}</h4>
                    <p class="text-gray">{{cardDescription}}</p>
                    <p class="warning">{{cardStatus}}</p>
                </div>
                <a data-role="button" class="btn btn-primary confirm">Confirm</a>


            </div>
        </li>
    </script>
-->
</div>