﻿<div data-role="page" id="historyFilterPage">
    <div data-role="header" class="bg-blue">
        <a href="History.html" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="title">Filter history</h1>
        
        
    </div>
    <div data-role="content">
        <div id="errorContent"></div>
        <div id="areaParameters">
            <div class="m30b">
                <label for="transactionNumber">Transaction number</label>
                <input type="number" id="transactionNumber"/>
            </div>
            <div class="m30b ui-grid-a">
                <div class="ui-block-a" style="width:45%;">
                    <label for="dateFrom">Date from</label>
                    <input type="date" id="dateFrom"/>
                </div>
                <div class="ui-block-b right" style="width:45%;">
                    <label for="dateTo">Date to</label>
                    <input type="date" id="dateTo"/>
                </div>
            </div>
            <div class="m30b">
                <label for="transferTypeList">Transfer Type</label>
            <select id="transferTypeList"></select>
        </div>
    </div>
</div>
<div data-role="footer" data-position="fixed" class="ui-bg-none text-center">
    <a class="text-gray" role="button" id="useFilter"><i class="ss-trash icon"></i>Clear filter</a>
    <a data-role="button" class="btn-primary m1" id="applyFilter">Apply Filter</a>
</div>
</div>