<div data-role="page" id="history-page">
    <link href="../../css/History/History.css" rel="stylesheet" />

    <div data-role="header" class="bg-blue">
        <a href="#leftmenu" class="icon-header ui-btn-left"><img src="../../css/images/icons-svg/bars-white.svg" alt="phone" width="20" /></a>
        <h1 data-role="tittle" class="center"><img src="../../images/logo-bg-white.png" width="142" alt="Logo" /></h1>
        <a href="" class="icon-header ui-btn-right" id="showFilter"><i class="ss-toggles"></i></a>
    </div>

    <div data-role="content">
        <div id="errorContent"></div>
        <ul class="ui-listview ui-listview-inset" data-inset="true" id="history-list"></ul>

        <!--POPUP-->
        <div data-role="popup" id="p2p-popup" data-ovecrlay-theme="b">
            <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
                <a href="#" data-rel="back" class="ui-btn ui-btn-right"><i class="ss-close">X</i></a>
                <div class="circle circle-p2p"><i class="ss-banknote"></i></div>
                <h4>{{sendFullName}}<!--Ramiro Allen--></h4>
                <p>{{sendAddress}}<!--New Kingston - Kingston- Jamaica--></p>
            </div>
            <div class="popup-content">
                <div class="ui-content line-b">
                    <div class="ui-grid-a">
                        <label class="ui-block-a">You are sending</label>
                        <p class="ui-block-b text-right" id="send-amount">{{sendAmount}}</p>
                        <label class="ui-block-a">Transaction Fee</label>
                        <p class="ui-block-b text-right" id="send-fee">{{sendFee}}</p>
                        <label class="ui-block-a">Exchange Rate</label>
                        <p class="ui-block-b text-right" id="send-exchangeRate">{{sendExchangeRate}}</p>
                        <label class="ui-block-a">Your Total</label>
                        <p class="ui-block-b text-right" id="send-total">{{sendTotal}}</p>
                        <label class="ui-block-a">Transaction #:</label>
                        <p class="ui-block-b text-right" id="transaction-id">{{transactionId}}</p>
                    </div>
                </div>
                <div class="text-center ui-content">
                    <small>Receive Amount</small>
                    <p class="amount-receives p2p">{{receiveAmount}}<!--8,682.00 JMD--></p>
                    <i class="ss-down"></i>
                </div>
            </div>
            <div class="popup-footer">
                <div class="sub-footer ui-content">
                    <h4 id="to-fullname">{{receiveFullName}}<!--Tamique Hines--></h4>
                    <p id="to-address">{{receiveAddress}}<!--New Kingston - Kingston- Jamaica--></p>
                </div>
                <!--<button data-role="button" class="btn-primary" id="btn-confirm">Confirm</button>-->
            </div>
        </div>
        <div data-role="popup" id="pensiontransfer-popup" data-ovecrlay-theme="b">
            <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
                <a href="#" data-rel="back" class="ui-btn ui-btn-right"><i class="ss-close">X</i></a>
                <div class="circle circle-pensiontransfer"><i class="ss-archive"></i></div>
                <h4>{{sendFullName}}<!--Ramiro Allen--></h4>
                <p>{{sendAddress}}<!--New Kingston - Kingston- Jamaica--></p>
            </div>
            <div class="popup-content">
                <div class="ui-content line-b">
                    <div class="ui-grid-a">
                        <label class="ui-block-a">You are sending</label>
                        <p class="ui-block-b text-right" id="send-amount">{{sendAmount}}</p>
                        <label class="ui-block-a">Transaction Fee</label>
                        <p class="ui-block-b text-right" id="send-fee">{{sendFee}}</p>
                        <label class="ui-block-a">Exchange Rate</label>
                        <p class="ui-block-b text-right" id="send-exchangeRate">{{sendExchangeRate}}</p>
                        <label class="ui-block-a">Your Total</label>
                        <p class="ui-block-b text-right" id="send-total">{{sendTotal}}</p>
                        <label class="ui-block-a">Transaction #:</label>
                        <p class="ui-block-b text-right" id="transaction-id">{{transactionId}}</p>
                    </div>
                </div>
                <div class="text-center ui-content">
                    <small>Receive Amount</small>
                    <p class="amount-receives text-pensiontransfer">{{receiveAmount}}<!--8,682.00 JMD--></p>
                    <i class="ss-down"></i>
                </div>
            </div>
            <div class="popup-footer">
                <div class="sub-footer ui-content">
                    <h4 id="to-fullname">{{receiveFullName}}<!--Tamique Hines--></h4>
                    <p id="to-address">{{receiveAddress}}<!--New Kingston - Kingston- Jamaica--></p>
                </div>
                <!--<button data-role="button" class="btn-primary" id="btn-confirm">Confirm</button>-->
            </div>
        </div>
        <div data-role="popup" id="globalaccounttransfer-popup" data-ovecrlay-theme="b">
            <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
                <a href="#" data-rel="back" class="ui-btn ui-btn-right"><i class="ss-close">X</i></a>
                <div class="circle circle-globalaccounttransfer"><i class="ss-earth"></i></div>
                <h4>{{sendFullName}}<!--Ramiro Allen--></h4>
                <p>{{sendAddress}}<!--New Kingston - Kingston- Jamaica--></p>
            </div>
            <div class="popup-content">
                <div class="ui-content line-b">
                    <div class="ui-grid-a">
                        <label class="ui-block-a">You are sending</label>
                        <p class="ui-block-b text-right" id="send-amount">{{sendAmount}}</p>
                        <label class="ui-block-a">Transaction Fee</label>
                        <p class="ui-block-b text-right" id="send-fee">{{sendFee}}</p>
                        <label class="ui-block-a">Exchange Rate</label>
                        <p class="ui-block-b text-right" id="send-exchangeRate">{{sendExchangeRate}}</p>
                        <label class="ui-block-a">Your Total</label>
                        <p class="ui-block-b text-right" id="send-total">{{sendTotal}}</p>
                        <label class="ui-block-a">Transaction #:</label>
                        <p class="ui-block-b text-right" id="transaction-id">{{transactionId}}</p>
                    </div>
                </div>
                <div class="text-center ui-content">
                    <small>Receive Amount</small>
                    <p class="amount-receives text-globalaccounttransfer">{{receiveAmount}}<!--8,682.00 JMD--></p>
                    <i class="ss-down"></i>
                </div>
            </div>
            <div class="popup-footer">
                <div class="sub-footer ui-content">
                    <h4 id="to-fullname">{{receiveFullName}}<!--Tamique Hines--></h4>
                </div>
                <!--<button data-role="button" class="btn-primary" id="btn-confirm">Confirm</button>-->
            </div>
        </div>
        <div data-role="popup" id="thirdpartytransfer-popup" data-ovecrlay-theme="b">
            <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
                <a href="#" data-rel="back" class="ui-btn ui-btn-right"><i class="ss-close">X</i></a>
                <div class="circle circle-thirdpartytransfer"><i class="ss-usergroup"></i></div>
                <h4>{{sendFullName}}<!--Ramiro Allen--></h4>
                <p>{{sendAddress}}<!--New Kingston - Kingston- Jamaica--></p>
            </div>
            <div class="popup-content">
                <div class="ui-content line-b">
                    <div class="ui-grid-a">
                        <label class="ui-block-a">You are sending</label>
                        <p class="ui-block-b text-right" id="send-amount">{{sendAmount}}</p>
                        <label class="ui-block-a">Transaction Fee</label>
                        <p class="ui-block-b text-right" id="send-fee">{{sendFee}}</p>
                        <label class="ui-block-a">Exchange Rate</label>
                        <p class="ui-block-b text-right" id="send-exchangeRate">{{sendExchangeRate}}</p>
                        <label class="ui-block-a">Your Total</label>
                        <p class="ui-block-b text-right" id="send-total">{{sendTotal}}</p>
                        <label class="ui-block-a">Transaction #:</label>
                        <p class="ui-block-b text-right" id="transaction-id">{{transactionId}}</p>
                    </div>
                </div>
                <div class="text-center ui-content">
                    <small>Receive Amount</small>
                    <p class="amount-receives text-thirdpartytransfer">{{receiveAmount}}<!--8,682.00 JMD--></p>
                    <i class="ss-down"></i>
                </div>
            </div>
            <div class="popup-footer">
                <div class="sub-footer ui-content">
                    <h4 id="to-fullname">{{receiveFullName}}<!--Tamique Hines--></h4>
                    <p id="">{{receiveAccount}}</p>
                    <p id="">{{receiveAccountType}}</p>
                </div>
                <!--<button data-role="button" class="btn-primary" id="btn-confirm">Confirm</button>-->
            </div>
        </div>
        <div data-role="popup" id="billpaytransfer-popup" data-ovecrlay-theme="b">
            <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
                <a href="#" data-rel="back" class="ui-btn ui-btn-right"><i class="ss-close">X</i></a>
                <div class="circle circle-paybill"><i class="ss-page"></i></div>
                <h4>{{sendFullName}}<!--Ramiro Allen--></h4>
                <p>{{sendAddress}}<!--New Kingston - Kingston- Jamaica--></p>
            </div>
            <div class="popup-content">
                <div class="ui-content line-b">
                    <div class="ui-grid-a">
                        <label class="ui-block-a">You are sending</label>
                        <p class="ui-block-b text-right" id="send-amount">{{sendAmount}}</p>
                        <label class="ui-block-a">Transaction Fee</label>
                        <p class="ui-block-b text-right" id="send-fee">{{sendFee}}</p>
                        <label class="ui-block-a">Exchange Rate</label>
                        <p class="ui-block-b text-right" id="send-exchangeRate">{{sendExchangeRate}}</p>
                        <label class="ui-block-a">Your Total</label>
                        <p class="ui-block-b text-right" id="send-total">{{sendTotal}}</p>
                        <label class="ui-block-a">Transaction #:</label>
                        <p class="ui-block-b text-right" id="transaction-id">{{transactionId}}</p>
                    </div>
                </div>
                <div class="text-center ui-content">
                    <small>Receive Amount</small>
                    <p class="amount-receives text-billpaytransfer">{{receiveAmount}}<!--8,682.00 JMD--></p>
                    <i class="ss-down"></i>
                </div>
            </div>
            <div class="popup-footer">
                <div class="sub-footer ui-content">
                    <h4 id="">{{InstitutionBranchId}}</h4>
                    <p id="">{{receiveFullName}}</p>
                    <p id="">{{receiveAccount}}</p>
                    <p id="">{{receiveInstitutionName}}</p>
                </div>
                <!--<button data-role="button" class="btn-primary" id="btn-confirm">Confirm</button>-->
            </div>
        </div>
        <div data-role="popup" id="accounttransfer-popup" data-ovecrlay-theme="b">
            <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
                <a href="#" data-rel="back" class="ui-btn ui-btn-right"><i class="ss-close">X</i></a>
                <div class="circle circle-accounttransfer"><i class="ss-bank"></i></div>
                <h4>{{sendFullName}}<!--Ramiro Allen--></h4>
                <p>{{sendAddress}}<!--New Kingston - Kingston- Jamaica--></p>
            </div>
            <div class="popup-content">
                <div class="ui-content line-b">
                    <div class="ui-grid-a">
                        <label class="ui-block-a">You are sending</label>
                        <p class="ui-block-b text-right" id="send-amount">{{sendAmount}}</p>
                        <label class="ui-block-a">Transaction Fee</label>
                        <p class="ui-block-b text-right" id="send-fee">{{sendFee}}</p>
                        <label class="ui-block-a">Exchange Rate</label>
                        <p class="ui-block-b text-right" id="send-exchangeRate">{{sendExchangeRate}}</p>
                        <label class="ui-block-a">Your Total</label>
                        <p class="ui-block-b text-right" id="send-total">{{sendTotal}}</p>
                        <label class="ui-block-a">Transaction #:</label>
                        <p class="ui-block-b text-right" id="transaction-id">{{transactionId}}</p>
                    </div>
                </div>
                <div class="text-center ui-content">
                    <small>Receive Amount</small>
                    <p class="amount-receives text-accounttransfer">{{receiveAmount}}<!--8,682.00 JMD--></p>
                    <i class="ss-down"></i>
                </div>
            </div>
            <div class="popup-footer">
                <div class="sub-footer ui-content">
                    <h4 id="to-fullname">{{receiveFullName}}<!--Tamique Hines--></h4>
                    <p id="">{{receiveAccount}}</p>
                    <p id="">{{receiveAccountType}}</p>
                 
                </div>
                <!--<button data-role="button" class="btn-primary" id="btn-confirm">Confirm</button>-->
            </div>
        </div>
        <div data-role="popup" id="institutiontransfer-popup" data-ovecrlay-theme="b">
            <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
                <a href="#" data-rel="back" class="ui-btn ui-btn-right"><i class="ss-close">X</i></a>
                <div class="circle circle-institutiontransfer"><i class="ss-buildings"></i></div>
                <h4>{{sendFullName}}<!--Ramiro Allen--></h4>
                <p>{{sendAddress}}<!--New Kingston - Kingston- Jamaica--></p>
            </div>
            <div class="popup-content">
                <div class="ui-content line-b">
                    <div class="ui-grid-a">
                        <label class="ui-block-a">You are sending</label>
                        <p class="ui-block-b text-right" id="send-amount">{{sendAmount}}</p>
                        <label class="ui-block-a">Transaction Fee</label>
                        <p class="ui-block-b text-right" id="send-fee">{{sendFee}}</p>
                        <label class="ui-block-a">Exchange Rate</label>
                        <p class="ui-block-b text-right" id="send-exchangeRate">{{sendExchangeRate}}</p>
                        <label class="ui-block-a">Your Total</label>
                        <p class="ui-block-b text-right" id="send-total">{{sendTotal}}</p>
                        <label class="ui-block-a">Transaction #:</label>
                        <p class="ui-block-b text-right" id="transaction-id">{{transactionId}}</p>
                    </div>
                </div>
                <div class="text-center ui-content">
                    <small>Receive Amount</small>
                    <p class="amount-receives text-institutiontransfer">{{receiveAmount}}<!--8,682.00 JMD--></p>
                    <i class="ss-down"></i>
                </div>
            </div>
            <div class="popup-footer">
                <div class="sub-footer ui-content">
                    <h4 id="">{{InstitutionBranchId}}</h4>
                    <p id="">{{receiveFullName}}</p>
                    <p id="">{{receiveAccount}}</p>
                </div>
                <!--<button data-role="button" class="btn-primary" id="btn-confirm">Confirm</button>-->
            </div>
        </div>
        <div data-role="popup" id="mobiletopup-popup" data-ovecrlay-theme="b">
            <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
                <a href="#" data-rel="back" class="ui-btn ui-btn-right"><i class="ss-close">X</i></a>
                <div class="circle circle-mobiletopup"><i class="ss-smartphone"></i></div>
                <h4>{{sendFullName}}<!--Ramiro Allen--></h4>
                <p>{{sendAddress}}<!--New Kingston - Kingston- Jamaica--></p>
            </div>
            <div class="popup-content">
                <div class="ui-content line-b">
                    <div class="ui-grid-a">
                        <label class="ui-block-a">You are sending</label>
                        <p class="ui-block-b text-right" id="send-amount">{{sendAmount}}</p>
                        <label class="ui-block-a">Transaction Fee</label>
                        <p class="ui-block-b text-right" id="send-fee">{{sendFee}}</p>
                        <label class="ui-block-a">Exchange Rate</label>
                        <p class="ui-block-b text-right" id="send-exchangeRate">{{sendExchangeRate}}</p>
                        <label class="ui-block-a">Your Total</label>
                        <p class="ui-block-b text-right" id="send-total">{{sendTotal}}</p>
                        <label class="ui-block-a">Transaction #:</label>
                        <p class="ui-block-b text-right" id="transaction-id">{{transactionId}}</p>
                    </div>
                </div>
                <div class="text-center ui-content">
                    <small>Receive Amount</small>
                    <p class="amount-receives text-mobiletopup">{{receiveAmount}}<!--8,682.00 JMD--></p>
                    <i class="ss-down"></i>
                </div>
            </div>
            <div class="popup-footer">
                <div class="sub-footer ui-content">
                    <h4 id="to-fullname">{{receiveFullName}}<!--Tamique Hines--></h4>
                    <p id="">{{receivePersonMobileTelephone}}</p>
                </div>
                <!--<button data-role="button" class="btn-primary" id="btn-confirm">Confirm</button>-->
            </div>
        </div>
        <div data-role="popup" id="mtcardpayment-popup" data-ovecrlay-theme="b">
            <div class="popup-header ui-content ui-nodisc-icon ui-alt-icon">
                <a href="#" data-rel="back" class="ui-btn ui-btn-right"><i class="ss-close">X</i></a>
                <div class="circle circle-transfercard"><i class="ss-creditcards"></i></div>
                <h4>{{sendFullName}}<!--Ramiro Allen--></h4>
                <p>{{sendAddress}}<!--New Kingston - Kingston- Jamaica--></p>
            </div>
            <div class="popup-content">
                <div class="ui-content line-b">
                    <div class="ui-grid-a">
                        <label class="ui-block-a">You are sending</label>
                        <p class="ui-block-b text-right" id="send-amount">{{sendAmount}}</p>
                        <label class="ui-block-a">Transaction Fee</label>
                        <p class="ui-block-b text-right" id="send-fee">{{sendFee}}</p>
                        <label class="ui-block-a">Exchange Rate</label>
                        <p class="ui-block-b text-right" id="send-exchangeRate">{{sendExchangeRate}}</p>
                        <label class="ui-block-a">Your Total</label>
                        <p class="ui-block-b text-right" id="send-total">{{sendTotal}}</p>
                        <label class="ui-block-a">Transaction #:</label>
                        <p class="ui-block-b text-right" id="transaction-id">{{transactionId}}</p>
                    </div>
                </div>
                <div class="text-center ui-content">
                    <small>Receive Amount</small>
                    <p class="amount-receives text-mtcardpayment">{{receiveAmount}}<!--8,682.00 JMD--></p>                    
                    <i class="ss-down"></i>
                </div>
            </div>
            <div class="popup-footer">
                <div class="sub-footer ui-content">
                    <h4 id="to-fullname">{{receiveFullName}}<!--Tamique Hines--></h4>
                    <p id="">{{receivePersonCardNumber}}</p>
                    <p id="">{{receiveAccount}}</p>
                    <p id="">{{receiveAccountType}}</p>
                </div>
                <!--<button data-role="button" class="btn-primary" id="btn-confirm">Confirm</button>-->
            </div>
        </div>
    </div>

    <div data-role="footer" data-position="fixed">
        <div data-role="navbar" class="menu">
            <ul class="">
                <li><a class="ui-btn-active" href="../History/History.html"><i class="ss-counterclockwise"></i>History</a></li>
                <li><a href="../Send/Send.html"><i class="ss-send"></i>Send</a></li>
                <li><a href="../Recipients/Recipients.html"><i class="ss-users"></i>Recipients</a></li>
            </ul>
        </div>
    </div><!-- /footer -->
    <!--templates area-->
    <script type="text/x-handlebars-template" id="item-history-template">
        <a href="#" class="ui-btn hist-open-popup history-person"
           data-transition="pop" data-rel="popup">
            <div class="ui-grid-a">
                <h6 class="ui-block-a">{{receiveName}}</h6>
                <h6 class="ui-block-b text-right">{{amountTransaction}}</h6>
                <p class="ui-block-a text-gray">{{statusTransaction}}</p>
                <p class="text-gray ui-block-b text-right">{{dateTransaction}}</p>
                <p class="text-gray ui-block-a">{{transferType}}</p>
            </div>
        </a>
    </script>

    <!-- no results after apply filter -->
    <script type="text/x-handlebars-template" id="item-history-empty-template">
        <div>
            <p>no results</p>
        </div>

    </script>



</div>