﻿<div data-role="page" id="billConfigureAmount">
    <link href="../../../css/Transfer/Transfer.css" rel="stylesheet" />

    <div data-role="header" class="bg-white p2l">
        <a href="" class="back" data-rel="back" data-role="none"><i class="ss-left"></i></a>
        <div class="circle circle-paybill"><i class="ss-page"></i></div>
        <h1 data-role="tittle">Pay Bill <small>Amount</small></h1>
        <a href="../../Send/Send.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>
    <div class="ui-grid-a sub-header">
        <div class="ui-block-a">
            <label>Send to</label>
        </div>
        <div class="ui-block-b">
            <p class="text-right m0" id="institutionTarget"></p>
        </div>
    </div>

    <div data-role="content">
        <div id="errorContent"></div>
        <div class="m30b">
            <label for="SelectCurrencyBill">Currency</label>
            <select class="select" name="SelectCurrencyBill" id="SelectCurrencyBill">
                <option value="" disabled selected>Select</option>
            </select>
        </div>

        <div class="m30b pr">
            <label for="InputAmount">Amount</label>
            <input class="icon-dolar" type="number" name="InputAmountBill" id="InputAmountBill" value="0.0" />
            <i class="icon-dolar-input">$</i>
        </div>

        <div class="m30b exchangeData ui-grid-a" id="exchangeData">
            <div class="ui-block-a">
                <p class="text-gray">Pay-out:</p>
                <span id="CantTransfer"></span>
            </div>
            <div class="ui-block-b text-right">
                <p class="text-gray">Exchange Rate</p>
                <div id="Rate">
                    <span id="senderCurrency"></span><span class="control" id="CurrentExchangeRate" data-value="CurrentExchangeRate"></span>&nbsp<span class="control" data-value="DisburseCountryDefaultCurrency" id="DisburseCountryDefaultCurrency"></span>
                </div>
            </div>
            <input type="hidden" class="control" data-value="CurrentTransferFee" id="CurrentTransferFee" />
            <input type="hidden" class="control" data-value="FeeCurrencyId" id="FeeCurrencyId" />
        </div>

        <div data-role="footer" data-position="fixed" class="ui-bg-none">
            <a data-role="button" class="btn-primary m1" id="confirmAmount"> Next </a>
        </div>

    </div>
</div>