﻿<div data-role="page" id="configurePayment" class="modal" data-close-btn="right">
    <link href="../../../css/Transfer/Transfer.css" rel="stylesheet" />
    <div data-role="header" class="bg-white p2l">
        <a href="" class="back" data-rel="back" data-role="none"><i class="ss-left"></i></a>
        <div class="circle circle-transfercard"><i class="ss-creditcard"></i></div>
        <h1 data-role="tittle">JN Money Transfer Card <small>Payment</small></h1>
        <a href="../../Send/Send.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>
    <div class="ui-grid-a sub-header">
        <div class="ui-block-a">
            <label>Send to</label>
        </div>
        <div class="ui-block-b">
            <p class="text-right m0" id="PersonaSend"></p>
        </div>
    </div>

    <div data-role="content">
        <div id="errorContent"></div>

        <div class="m30b">
            <label for="SelectCard">Debit / Credit Card</label>
            <select class="select" name="SelectCard" id="SelectCard">
                <option value="" disabled selected>Select</option>
            </select>
        </div>

        <div class="m30b">
            <label for="SelectSource">Source of Funds</label>
            <select class="select" name="SelectSource" id="SelectSource">
                <option value="" disabled selected>Select</option>
            </select>
        </div>
        <div class="m30b">
            <label for="InputPayment">Purpose of Transfer</label>
            <input type="text" name="InputPayment" id="InputPayment" />
        </div>

        <div>
            <a id="btn-popup" data-role="button" class="btn-primary" data-transition="pop" data-rel="popup"> Next </a>
        </div>

        <div data-role="popup" id="popupConfirm" data-overlay-theme="b">
            <div class="popup-header ui-content">
                <a href="#" data-rel="back" class="ui-corner-all ui-btn-right"><i class="ss-close">X</i></a>
                <h4 id="sender-name"></h4>
                <p id="sender-address"></p>
            </div>
            <div class="popup-content">
                <div class="ui-content line-b">
                    <div class="ui-grid-a">
                        <label class="ui-block-a">You send</label>
                        <p class="ui-block-b text-right" id="send-amount"><!--100.00 CAD--></p>
                        <label class="ui-block-a">Transaction Fee</label>
                        <p class="ui-block-b text-right" id="send-fee"><!--100.00 CAD--></p>
                        <label class="ui-block-a">Exchange Rate</label>
                        <p class="ui-block-b text-right" id="send-exchangeRate"><!--100.00 CAD--></p>
                        <label class="ui-block-a">Your Total</label>
                        <p class="ui-block-b text-right" id="send-total"><!--100.00 CAD--></p>
                    </div>
                </div>
                <div class="text-center ui-content">
                    <small>Recipient receives</small>
                    <p class="amount-receives"><!--8,682.00 JMD--></p>
                    <i class="ss-down"></i>
                </div>
            </div>
            <div class="popup-footer">
                <div class="sub-footer ui-content">
                    <h4 id="to-fullname"><!--Tamique Hines--></h4>
                    <p id="to-address"><!--New Kingston - Kingston- Jamaica--></p>
                </div>
                <button data-role="button" class="btn-primary" id="btn-confirm">Confirm</button>
            </div>
        </div>
    </div>
    
        <!--<form id="FormAmount"></form>-->
</div>