﻿<div data-role="page" id="RecipientListTarget">
    <link href="../../../css/Transfer/Transfer.css" rel="stylesheet" />

    <div data-role="header" class="bg-white">
        <a  href="../../Send/Send.html" class="back"  data-role="none"><i class="ss-left"></i></a>
        <div class="circle circle-transfercard"><i class="ss-creditcard"></i></div>
        <h1 data-role="tittle">JN Money Transfer Card<small>Recipients</small></h1>
        <a href="../../Send/Send.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>
    <div class="ui-grid-a sub-header">
        <div class="ui-block-a">
            <label>Send to</label>
        </div>
        <div class="ui-block-b text-right">
            <a id="RecipientListCloseLocation"><i class="ss-plus"></i></a>
            <!-- <a href="#"><i class="ss-search"></i></a> -->
        </div>
    </div>
    <div data-role="content">
        <div id="errorContent"></div>
        <ul class="ui-listview ui-listview-inset" data-inset="true" id="ListRecipientsCard">
           </ul>

        <div data-role="popup" id="popupRecipient" data-overlay-theme="b">
        </div>

    </div>

    <!--templates region-->

    <script type="text/x-handlebars-template" id="li-template">
        <li class="ui-li-has-thumb ui-nodisc-icon ui-alt-icon"></li>
    </script>
    <script type="text/x-handlebars-template" id="li-content-template">
        <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
            <div class="circle circle-transfercard"><i class="ss-user"></i></div>
            <h6>{{nameRecipient}}</h6>
            <p class="text-gray">{{mailRecipient}}</p>
        </a>
    </script>

    <!--popup template-->
    <script type="text/x-handlebars-template" id="popup-template" data-role="popup">
        <div class="popup-header ui-content">
            <a href="#" data-rel="back" class="ui-corner-all ui-btn-right"><i class="ss-close">X</i></a>
            <h4 id="pop-fullname">{{nameRecipient}}</h4>
            <p>{{countryName}}</p>
        </div>
        <div class="popup-content ui-content">
            <div class="ui-nodisc-icon ui-alt-icon info-item text-center">
                <div class="circle">
                    <i class="ss-mail"></i>
                </div>
                <p id="pop-mail">{{mailRecipient}}</p>
            </div>
            <div class="ui-nodisc-icon ui-alt-icon info-item text-center">
                <div class="circle">
                    <i class="ss-phone"></i>
                </div>
                <p id="pop-tele">{{phoneRecipient}}</p>
            </div>
            <div class="ui-nodisc-icon ui-alt-icon info-item text-center">
                <div class="circle">
                    <i class="ss-location"></i>
                </div>
                <p class="andress">{{address.address1}},</p>
                <span class="andress">{{address.address2}},</span>
                <span class="andress">{{address.address3}},</span>
                <span class="andress">{{address.address4}}</span>
            </div>
        </div>
        <div class="popup-footer">
            <a data-role="button" class="ui-btn btn-primary" id="btn-next-amount">Confirm</a>
        </div>
    </script>

</div>