﻿<div data-role="page" id="TransferSuccess">
    <link href="../../../css/Transfer/Transfer.css" rel="stylesheet" />

    <div class="bg-face success">
        <i class="ss-like"></i>
    </div>
    <div class="ui-content text-center">
        <h4>Congratulations</h4>
        <p>Your Transaction has been completed successfully!</p>
        <div class="transaction-id">
            <p>Transaction Id:</p>
             <p style="color: red" id="transactionId"></p> 
            <p><!--1278317312893712893712--></p>
        </div>
    </div>
    <div data-role="footer" data-position="fixed" class="ui-bg-none">
        <a data-role="button" href="../../Send/Send.html" class="btn-primary m1 m30b" id="ConfirmAmount"> ok </a>
    </div>
        
</div>