﻿.ui-page-theme-a .ui-header.ui-bar-inherit {
    line-height: 1.1;
    padding-left: 1.7rem;
}

.ui-page-theme-a .ui-header.ui-bar-inherit small {
    font-size: 11px;
    display: block;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
}

.ui-header .ui-title {
    padding-left: 0;
}

.ui-input-search {
    margin: 0;
    height: 24px;
    border: none;
    box-shadow: none;
}

.ui-input-search input {
    padding: 0;
}

.ui-input-search:after {
    left: auto;
    right: 0;
}

.ui-input-has-clear {
    padding-right: 1rem;
}

i.ss-down {
    font-size: 2rem;
    margin-top: 0.5rem;
    display: block;
}

.circle {
    margin-right: 0.5rem;
}