﻿
.ui-page-theme-a .ui-body-inherit {
	background-color: #f9f9f9;
	overflow: auto;
}


#map-canvas {
    width: 100%; 
    height: 91% !important;
    position: fixed !important;
}

.ui-panel-inner h4 {
	margin: 0.05em 0 0.8rem !important;
    font-size: 0.9rem !important;
}

.menu-header {
	background-color: white;
	padding: 1.3rem 1.5rem 1.5rem;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.04);
}

.menu-header a {
	position: absolute;
    right: 0;
    top: 21px;
    color: #333 !important;
}

.ui-listview li {
	background-color: #fff;
	padding: 1rem;
}

.ui-listview li p, .ui-listview li span {
	color: #666;
	font-size: 0.75rem;
}

.circle {
	width: 20px;
    height: 20px;
    color: white;
    font-size: 0.8rem;
    margin-right: 0.5rem;
}