﻿<div data-role="page" id="calculateFees">
    <div data-role="header" data-position="fixed" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">
            Calculate Fees
        </h1>
        <a id="btnClose" href="../../index.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>
    <ul class="tabs-menu" data-role="header" data-position="fixed">
        <li class="current"><a href="#sending">Sending</a></li>
        <li><a href="#receiving" class="JS_tab2">Receiving</a></li>
    </ul>
    <div id="tabs-container">
        <div id="sending" class="tab-content" data-role="content">
            <form id="formSubmit">
                <h3 class="blue">From</h3>
                <div class="m30b">
                    <label for="selectStates">Country from (*)</label>
                    <select class="select" name="selectStates" id="selectStatesFromSend">
                        <option value="-1" disabled selected>Select</option>
                    </select>
                </div>
                <div class="m30b">
                    <label for="firstName">Sending amount</label>
                    <input type="number" name="firstName" id="amountSend" required/>
                </div>
                <div class="m30b">
                    <label for="selectStates">Currency (*)</label>
                    <select class="select" name="selectStates" id="selectCurrencyFromSend">
                        <option value="-1" disabled selected>Select</option>
                    </select>
                </div>

                <h3 class="blue">To</h3>
                <div class="m30b">
                    <label for="selectStates">Country to (*)</label>
                    <select class="select" name="selectStates" id="selectStatesToSend">
                        <option value="-1" disabled selected>Select</option>
                    </select>
                </div>
                
                <a data-role="button" class="btn-primary" id="calculateSend">Calculate</a>
            </form>
        </div>
        <div id="receiving" class="tab-content" data-role="content">
            <form id="formSubmit">
                <h3 class="blue">To</h3>
                <div class="m30b">
                    <label for="selectStates">Country receive (*)</label>
                    <select class="select" name="selectStates" id="selectStatesToRece">
                        <option value="-1" disabled selected>Select</option>
                    </select>
                </div>
                <div class="m30b">
                    <label for="firstName">Receiving amount</label>
                    <input type="number" name="firstName" id="amountReceive" required/>
                </div>

                <h3 class="blue">From</h3>
                <div class="m30b">
                    <label for="selectStates">Country from (*)</label>
                    <select class="select" name="selectStates" id="selectStatesFromRece">
                        <option value="-1" disabled selected>Select</option>
                    </select>
                </div>
                <div class="m30b">
                    <label for="selectStates">Currency from (*)</label>
                    <select class="select" name="selectCurrencyFromRece" id="selectCurrencyFromRece">
                        <option value="-1" disabled selected>Select</option>
                    </select>
                </div>
                
                <a data-role="button" class="btn-primary" id="calculateReceive">Calculate</a>
            </form>
        </div>
    </div>
    
</div>