﻿<div data-role="page" id="calculateFeesResults">

    <div data-role="header" data-position="fixed" class="bg-blue">
        <a href="" data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Transaction Summary</h1>
        <a id="btnCloseResults" href="../../index.html" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>s
    </div>
    <div data-role="content">        
        <div id="errorContent"></div>
        <form id="formSubmit" style="display:none">
            <div class="m30b">
                <label for="selectStates">Transfer Type</label>
                <select class="select" name="selectStates" id="selectStates">
                    <option value="P2P" disabled selected>Cash Payout</option>
                </select>
            </div>
        </form>
        <div class="m30b exchangeData ui-grid-a" id="exchangeData" style="display:none">
            <div class="ui-grid-a">
                <label class="ui-block-a">You are sending</label>
                <p class="ui-block-b text-right control"  data-value="AmountTransfer"></p>
                <label class="ui-block-a text-primary">Transaction Fee</label>
                <p class="ui-block-b text-right text-primary control" data-value="TransferFee" id=""></p>
                <label class="ui-block-a">Exchange Rate</label>
                <p class="ui-block-b text-right control" data-value="ExchangeRate" id=""></p>
                <label class="ui-block-a">Your Total</label>
                <p class="ui-block-b text-right class control" data-value="Total"  id=""></p>
                <label class="ui-block-a">Recipient Receive</label>
                <p class="ui-block-b text-right control" data-value="Receive" id=""></p>
            </div>
        </div>
        <a data-role="button" class="btn-primary" href="calculateFees.html" id="">Search Again</a>
    </div>
</div>

