﻿<div data-role="page" id="addAccountDataStep4">
    <div data-role="header" class="bg-blue">
        <a data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>
        <h1 data-role="tittle">Add Recipient Account</h1>
        <a id="addAccountDataCloseStep4" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content" id="main-content">
        <h3 class="blue">Secondary Account Holder</h3>
        <div id="errorContent"></div>

        <form id="formSubmit">
            <div class="m30b">
                <label for="firstName">First Name(*)</label>
                <input id="firstName" name="firstName" type="text" required />
            </div>

            <div class="m30b">
                <label for="lastName">Last Name(*)</label>
                <input id="lastName" name="lastName" type="text" required />
            </div>
           
            <div>
                <a data-role="button" class="btn-primary" id="btnSave">Next</a>
            </div>

        </form>

    </div>
</div>
