﻿<div data-role="page" id="addAccountDataStep1">
    <div data-role="header" class="bg-blue">
        <!--<a data-rel="back" class="icon-header ui-btn-left"><i class="ss-left"></i></a>-->
        <h1 data-role="tittle">Add Recipient Account</h1>
        <a id="addAccountDataCloseStep1" class="icon-header ui-btn-right"><i class="ss-close">X</i></a>
    </div>

    <div data-role="content" id="main-content">
        <h3 class="blue">Account</h3>
        <div id="errorContent"></div>

        <form id="formSubmit">
            <div class="m30b">
                <label for="cbInstitution">Institution(*)</label>
                <select id="cbInstitution" name="cbInstitution"></select>
            </div>

            <div class="m30b">
                <label for="cbCountry">Account Country</label>
                <select id="cbCountry" name="cbCountry"></select>
            </div>

            <div class="m30b">
                <label for="accountNumber">Account Number(*)</label>
                <input id="accountNumber" name="accountNumber" type="text" required/>
            </div>

            <div class="m30b">
                <label for="cbAccountType">Account Type(*)</label>
                <select id="cbAccountType" name="cbAccountType"></select>
            </div>

            <div class="m30b">
                <label for="cbAccountCurrency">Account Currency</label>
                <select id="cbAccountCurrency" name="cbAccountCurrency">
                    <option value="-1" disabled selected>Select</option>
                </select>
            </div>

            <div class="m30b">
                <label for="cbBranch">Branch</label>
                <select id="cbBranch" name="cbBranch"></select>
            </div>
            <div>
                <a data-role="button" class="btn-primary" id="btnNext1">Next</a>
            </div>

        </form>

    </div>
</div>
