<div data-role="page" id="Send">
    <link href="../../css/Send/Send.css" rel="stylesheet" />

    <div data-role="header" class="bg-blue">
        <h1 data-role="tittle" class="center"><img src="../../images/logo-bg-white.png" width="142" alt="Logo" /></h1>
        <a href="#leftmenu" class="icon-header ui-btn-left"><img src="../../css/images/icons-svg/bars-white.svg" alt="phone" width="20"/></a>
    </div>

    <div data-role="content">
        <div id="errorContent"></div>
        <ul class="ui-listview ui-listview-inset" data-inset="true" id="">
            <li class="ui-li-has-thumb ui-first-child ui-nodisc-icon ui-alt-icon">
                <a href="" id="send-p2p" class="ui-btn">
                    <div class="circle circle-p2p"><i class="">$</i>
                    </div>
                    <h4>Cash pick-up</h4>
                </a>
            </li>
            <li class="ui-li-has-thumb ui-first-child ui-nodisc-icon ui-alt-icon">
                <a id="send-to-card" class="ui-btn">
                    <div class="circle circle-transfercard"><i class="ss-creditcards"></i>
                    </div>
                    <h4>JN Money Transfer Card</h4>
                </a>
            </li>

            <li class="ui-li-has-thumb ui-first-child ui-nodisc-icon ui-alt-icon">
                <a id="send-to-bill" class="ui-btn">
                    <div class="circle circle-paybill">
                        <i class="ss-page"></i>
                    </div>
                    <h4>Bill Payment</h4>
                </a>
            </li>
            <li class="ui-li-has-thumb ui-first-child ui-nodisc-icon ui-alt-icon">
                <a id="send-to-account" class="ui-btn">
                    <div class="circle circle-sendaccount">
                        <i class="ss-bank"></i>
                    </div>
                    <h4>Send To Account</h4>
                </a>
            </li>
        </ul>
    </div>

    <div data-role="footer" data-position="fixed">
        <div data-role="navbar" class="menu">
            <ul class="">
                <li><a href="../History/History.html"><i class="ss-counterclockwise"></i>History</a></li>
                <li><a class="ui-btn-active" href="../Send/Send.html"><i class="ss-send"></i>Send</a></li>
                <li><a href="../Recipients/Recipients.html"><i class="ss-users"></i>Recipients</a></li>
            </ul>
        </div>
    </div><!-- /footer -->
    <div id="confirmSignout" data-role="popup">
        <div class="m1">
            <div class="popup-header">
                <a id="notSignout" class="ui-corner-all ui-btn-right"><i class="ss-close">X</i></a>
                <h2 class="icon-xs"><i class="ss-action"></i></h2>
                <h4 class="m30b">Are you sure you want to Signout?</h4>
            </div>
            <a href="" id="signout" data-role="button" class="m1 btn-warning">Signout</a>
        </div>
    </div>
</div>